# Simulated PIK statistics

Here we inspect the accuracy and characteristics of the PIKs assigned,
leveraging our knowledge of ground truth from pseudopeople.

It wouldn't be possible to do the ground truth part with the real PVS, but
Layne, Wagner, and Rothhaas did something similar by redacting SSN from real records,
sending them through PVS without the SSN, and then using the true SSN
as ground truth.
The health care records they used are probably quite different from a CUF,
but they found a **very** good overall PIK accuracy (see cell below).

In [1]:
# Query planning is now on by default, but it has some rough edges.
# See https://github.com/dask/dask/issues/10995 for general discussion
# and https://github.com/dask/dask-expr/issues/1060 for the particular
# issue I ran into.
import dask
dask.config.set({"dataframe.query-planning": False})

In [2]:
import datetime, os, time

from vivarium_research_prl import distributed_compute, utils
from IPython.display import display

In [3]:
print(datetime.datetime.now())

2024-05-29 21:20:10.822567

In [4]:
# DO NOT EDIT if this notebook is not called ground_truth_accuracy.ipynb!
# This notebook is designed to be run with papermill; this cell is tagged 'parameters'
data_to_use = 'small_sample'
simulated_data_output_dir = 'output/generate_simulated_data'
case_study_output_dir = 'output'

compute_engine = 'pandas'
# Only matter if using a distributed compute engine
compute_engine_num_workers = 3
compute_engine_cpus_per_worker = 2
compute_engine_threads_per_worker = 1
compute_engine_memory_per_worker = "1GB"
queue = None
account = None
# NOTE: This is, as Dask requests, a directory local to the compute node.
# But IHME's cluster doesn't support this very well -- it can be small-ish,
# full of stuff from other users, etc.
compute_engine_local_directory = f"/tmp/{os.environ['USER']}_{int(time.time())}_person_linkage_case_study"
compute_engine_log_directory = f'{case_study_output_dir}/{data_to_use}/logs'
walltime = None
compute_engine_memory_constrained = True
compute_engine_scheduler = "slurm"

In [5]:
# Parameters
data_to_use = "small_sample"
simulated_data_output_dir = "output/generate_simulated_data/"
case_study_output_dir = "output/results/"
queue = "long.q"
account = "proj_simscience"
walltime = "16-00:00:00"
compute_engine = "pandas"

In [6]:
if compute_engine.startswith('dask'):
    utils.ensure_empty(compute_engine_local_directory)

In [7]:
case_study_output_dir = f'{case_study_output_dir}/{data_to_use}'
simulated_data_output_dir = f'{simulated_data_output_dir}/{data_to_use}'

In [8]:
df_ops, pd = distributed_compute.start_compute_engine(
    compute_engine,
    num_workers=compute_engine_num_workers,
    cpus_per_worker=compute_engine_cpus_per_worker,
    threads_per_worker=compute_engine_threads_per_worker,
    memory_per_worker=compute_engine_memory_per_worker,
    worker_walltime=walltime,
    local_directory=compute_engine_local_directory,
    log_directory=compute_engine_log_directory,
    memory_constrained=compute_engine_memory_constrained,
    scheduler=compute_engine_scheduler,
    queue=queue,
    account=account,
)

In [9]:
census_2030_piked = df_ops.read_parquet(f'{case_study_output_dir}/census_2030_piked.parquet')
confirmed_piks_with_ground_truth = df_ops.read_parquet(f'{case_study_output_dir}/confirmed_piks.parquet')

In [10]:
piked_proportion = df_ops.compute(census_2030_piked.pik.notnull().mean())
# Compare with 90.28% of input records PIKed in the 2010 CUF,
# as reported in Wagner and Layne, Table 2, p. 18 
print(f'{piked_proportion:.2%} of the input records were PIKed')

89.41% of the input records were PIKed

In [11]:
# Multiple Census rows assigned the same PIK, indicating the model thinks they are duplicates in Census
pik_sizes = df_ops.persist(df_ops.groupby_agg_small_groups(census_2030_piked, by='pik', agg_func=lambda x: x.size()))
df_ops.compute(pik_sizes.value_counts())

1    9775
2      49
Name: count, dtype: int64

In [12]:
# Interesting: in pseudopeople, sometimes siblings are assigned the same (common) first name, making them almost identical.
# The only giveaway is their age and DOB.
# Presumably, this tends not to happen in real life.
duplicate_piks = pik_sizes.rename('pik_size').reset_index().pipe(lambda df: df[df.pik_size > 1])

df_ops.head(census_2030_piked.merge(duplicate_piks, on="pik").sort_values('pik'))

,household_id,first_name,middle_initial,last_name,age,date_of_birth,street_number,street_name,unit_number,city,state,zipcode,housing_type,relationship_to_reference_person,sex,race_ethnicity,year,record_id,pik,pik_size
76,0_5753,Jayla,Q,Brooks,1,12/28/2028,2317,dunbar avenue,<NA>,Anytown,WA,00000,Household,Biological child,Female,Multiracial or Other,2030,simulated_census_2030_0_9391,40_20,2
75,0_5753,Camille,A,Brooks,1,12/28/2028,2317,dunbar avenue,<NA>,Anytown,WA,00000,Household,Biological child,Female,Multiracial or Other,2030,simulated_census_2030_0_9390,40_20,2
19,0_6990,Samuel,G,Anderson,16,04/13/1982,11716,dogwood street,<NA>,Anytown,WA,00000,Household,Biological child,Male,White,2030,simulated_census_2030_0_4244,40_332,2
18,0_6990,Kari,A,Anderson,47,04/13/1982,11716,dogwood street,<NA>,Anytown,WA,00000,Household,Reference person,Female,White,2030,simulated_census_2030_0_4241,40_332,2
16,0_10884,Robert,D,Brimhall,58,02/24/1946,11234,private road 4685,<NA>,Anytown,WA,00000,Household,Other nonrelative,Male,White,2030,simulated_census_2030_0_4141,40_407,2
15,0_10884,Perry,F,Robertson,84,02/24/1946,11234,private roac 5685,<NA>,Anytown,WA,00000,Household,Reference person,Male,Multiracial or Other,2030,simulated_census_2030_0_4135,40_407,2
77,0_6036,Linda,K,Phillips,61,09/17/1969,900,sw inez st,<NA>,Anytown,WA,00000,Household,Reference person,Female,White,2030,simulated_census_2030_0_9914,40_573,2
78,0_6036,Jeremy,K,Phillips,60,09/14/1969,900,sw inez st,<NA>,Anytown,WA,00000,Household,Opposite-sex spouse,Male,White,2030,simulated_census_2030_0_9915,40_573,2
30,0_2000,Criselda,R,Trejo,52,09/23/1977,6544,forest ave,<NA>,Anytown,WA,00000,Household,Opposite-sex spouse,Female,Asian,2030,simulated_census_2030_0_5035,40_683,2
29,0_2000,Jay,J,Trejo,66,09/23/1977,6544,forest ave,<NA>,Anytown,WA,00000,Household,Reference person,Male,Latino,2030,simulated_census_2030_0_5034,40_683,2

## Ground truth statistics

In [13]:
census_2030_ground_truth = df_ops.persist(
    df_ops.read_parquet(f'{simulated_data_output_dir}/simulated_census_2030_ground_truth.parquet')
)

In [14]:
# In this version of pseudopeople, there are no actual duplicates in Census,
# which means all of the duplicates identified above are wrong.
assert len(census_2030_ground_truth) == len(df_ops.drop_duplicates(census_2030_ground_truth))

In [15]:
reference_files_ground_truth = df_ops.persist(df_ops.concat([
    df_ops.read_parquet(f'{simulated_data_output_dir}/simulated_geobase_reference_file_ground_truth.parquet').drop(columns=['n_unique_simulants']),
    df_ops.read_parquet(f'{simulated_data_output_dir}/simulated_name_dob_reference_file_ground_truth.parquet').drop(columns=['n_unique_simulants']),
], ignore_index=True))

In [16]:
# However, there can be reference file records that correspond to multiple simulants,
# due to errors in the reference file construction by SSN
n_unique_simulants = df_ops.persist(df_ops.groupby_agg_small_groups(reference_files_ground_truth, by='record_id', agg_func=lambda x: x.simulant_id.nunique()).rename('n_unique_simulants').reset_index())
df_ops.compute(n_unique_simulants.n_unique_simulants.value_counts())

n_unique_simulants
1    51724
2     1294
3       41
Name: count, dtype: int64

In [17]:
reference_files_ground_truth = df_ops.persist(reference_files_ground_truth.merge(
    n_unique_simulants,
    on='record_id',
    how='left',
))
reference_files_ground_truth.head(n=100)

                                   record_id simulant_id  n_unique_simulants
0    simulated_geobase_reference_file_0_1027      0_6212                   1
1    simulated_geobase_reference_file_0_1108      0_9842                   1
2    simulated_geobase_reference_file_0_1312      0_1402                   1
3    simulated_geobase_reference_file_0_1419     0_13861                   1
4    simulated_geobase_reference_file_0_1430      0_6611                   1
..                                       ...         ...                 ...
95   simulated_geobase_reference_file_17_468      0_3507                   1
96   simulated_geobase_reference_file_17_817      0_7775                   1
97   simulated_geobase_reference_file_17_967     0_10871                   1
98   simulated_geobase_reference_file_17_985      0_4273                   1
99  simulated_geobase_reference_file_18_1107      0_9655                   1

[100 rows x 3 columns]

In [18]:
df_ops.head(reference_files_ground_truth[reference_files_ground_truth.n_unique_simulants == df_ops.compute(reference_files_ground_truth.n_unique_simulants.max())])

                                    record_id simulant_id  n_unique_simulants
794    simulated_geobase_reference_file_3_292      0_1439                   3
795    simulated_geobase_reference_file_3_292      0_1441                   3
796    simulated_geobase_reference_file_3_292      0_1440                   3
4007  simulated_geobase_reference_file_6_1501     0_22202                   3
4008  simulated_geobase_reference_file_6_1501     0_22201                   3
4009  simulated_geobase_reference_file_6_1501     0_22205                   3
4569   simulated_geobase_reference_file_2_570     0_13378                   3
4570   simulated_geobase_reference_file_2_570     0_23442                   3
4571   simulated_geobase_reference_file_2_570      0_7085                   3
4686   simulated_geobase_reference_file_11_89     0_21667                   3

In [19]:
census_2030_ground_truth = df_ops.persist(census_2030_ground_truth.merge(
    df_ops.drop_duplicates(reference_files_ground_truth[['simulant_id']]).assign(possible_to_pik=1),
    on='simulant_id',
    how='left',
).assign(possible_to_pik=lambda df: df.possible_to_pik.fillna(0)))
possible_to_pik_proportion = df_ops.compute(census_2030_ground_truth.possible_to_pik.mean())
print(
    f'{(1 - possible_to_pik_proportion):.2%} of the input records are '
    'impossible to PIK correctly, since they are not in any reference files'
)

0.45% of the input records are impossible to PIK correctly, since they are not in any reference files

In [20]:
print(
    f'Assigned PIKs to {(piked_proportion / possible_to_pik_proportion):.2%} of PIK-able records'
)

Assigned PIKs to 89.81% of PIK-able records

In [21]:
reference_file = df_ops.concat([
    df_ops.read_parquet(
        f'{simulated_data_output_dir}/simulated_geobase_reference_file.parquet',
    ),
    df_ops.read_parquet(
        f'{simulated_data_output_dir}/simulated_name_dob_reference_file.parquet',
    ),
], ignore_index=True)

In [22]:
reference_file_piks = df_ops.persist(reference_file[['record_id', 'pik']])
reference_file_piks

                                      record_id     pik
0          simulated_geobase_reference_file_0_0    38_8
1         simulated_geobase_reference_file_0_15  38_252
2         simulated_geobase_reference_file_0_16  38_252
3         simulated_geobase_reference_file_0_17  38_252
4         simulated_geobase_reference_file_0_20  38_287
...                                         ...     ...
53054    simulated_name_dob_reference_file_7_21   75_17
53055    simulated_name_dob_reference_file_7_22   75_17
53056  simulated_name_dob_reference_file_10_169  75_392
53057  simulated_name_dob_reference_file_10_170  75_392
53058  simulated_name_dob_reference_file_10_171  75_392

[53059 rows x 2 columns]

In [23]:
assert len(reference_file_piks) == len(df_ops.drop_duplicates(reference_file_piks[['record_id']]))

In [24]:
pik_simulant_pairs = df_ops.persist(df_ops.drop_duplicates(reference_files_ground_truth.merge(reference_file_piks, on='record_id')[['pik', 'simulant_id']]))

In [25]:
# However, there can be PIKs that correspond to multiple simulants,
# due to errors in the reference file construction by SSN
n_unique_simulants = df_ops.persist(df_ops.groupby_agg_small_groups(pik_simulant_pairs, by='pik', agg_func=lambda x: x.simulant_id.nunique()).rename('n_unique_simulants').reset_index())
df_ops.compute(n_unique_simulants.n_unique_simulants.value_counts())

n_unique_simulants
1    17885
2     1042
3       51
Name: count, dtype: int64

In [26]:
pik_simulant_pairs = df_ops.persist(pik_simulant_pairs.merge(
    n_unique_simulants,
    on='pik',
    how='left',
))
pik_simulant_pairs

          pik simulant_id  n_unique_simulants
0      69_497     0_19610                   2
1      60_572     0_14452                   2
2       41_86     0_17207                   2
3      60_718     0_22516                   2
4      72_820     0_21653                   2
...       ...         ...                 ...
20117  75_280     0_15578                   1
20118  75_239     0_22864                   1
20119  75_247     0_22123                   1
20120  75_252     0_22467                   1
20121  75_260      0_2399                   1

[20122 rows x 3 columns]

In [27]:
df_ops.head(pik_simulant_pairs[pik_simulant_pairs.n_unique_simulants == df_ops.compute(pik_simulant_pairs.n_unique_simulants.max())])

        pik simulant_id  n_unique_simulants
25   44_592      0_1439                   3
95   49_593     0_21545                   3
129  53_401     0_13378                   3
130  53_401     0_23442                   3
133  40_233     0_21667                   3
135  68_622      0_1121                   3
136  68_622      0_1123                   3
158  60_779     0_12214                   3
163   70_21      0_9421                   3
172  64_842     0_10345                   3

## Definitions of accuracy

1. (most strict) Assigning any PIK with multiple simulants is incorrect
2. Assigning a PIK with multiple simulants is neither incorrect nor correct (excluded from denominator)
3. (most lenient) Assigning a PIK with multiple simulants is correct, as long as at least one of those simulants matches the truth

In [28]:
# All modules, Medicare database, calculated from Layne, Wagner, and Rothhaas Table 1 (p. 15)
real_life_pvs_accuracy = 1 - (2_585 + 60_709 + 129_480 + 89_094) / (52_406_981 + 5_170_924 + 49_374_794 + 50_327_034)
f'{real_life_pvs_accuracy:.5%}'

'99.82079%'

### Definition 1

In [29]:
piks_assigned = df_ops.compute(census_2030_piked.pik.notnull().sum())
piks_assigned

9873

In [30]:
df_ops.head(pik_simulant_pairs[pik_simulant_pairs.n_unique_simulants > 1])

      pik simulant_id  n_unique_simulants
0  69_497     0_19610                   2
1  60_572     0_14452                   2
2   41_86     0_17207                   2
3  60_718     0_22516                   2
4  72_820     0_21653                   2
5  44_313     0_21855                   2
6   59_73      0_1355                   2
7  60_118     0_15299                   2
8  65_559      0_2438                   2
9  40_109     0_19838                   2

In [31]:
single_sim_piks_correct = df_ops.compute(
    census_2030_piked[['record_id', 'pik']].merge(pik_simulant_pairs, on='pik').merge(census_2030_ground_truth, on='record_id')
        .pipe(lambda df: (df.simulant_id_x == df.simulant_id_y) & (df.n_unique_simulants == 1))
        .sum()
)
single_sim_piks_correct

9018

In [32]:
# Overall accuracy, treating it as a black box
(
    single_sim_piks_correct / piks_assigned
)

0.9134001823154057

In [33]:
assert len(confirmed_piks_with_ground_truth) == piks_assigned

In [34]:
df_ops.head(census_2030_ground_truth.rename(columns={'record_id': 'record_id_census_2030'}))

       record_id_census_2030 simulant_id  possible_to_pik
0  simulated_census_2030_0_0       0_923              1.0
1  simulated_census_2030_0_1      0_2348              1.0
2  simulated_census_2030_0_2      0_2641              1.0
3  simulated_census_2030_0_3      0_6176              1.0
4  simulated_census_2030_0_4     0_10251              1.0
5  simulated_census_2030_0_5     0_13047              1.0
6  simulated_census_2030_0_6     0_13861              1.0
7  simulated_census_2030_0_7     0_13972              1.0
8  simulated_census_2030_0_8     0_13973              1.0
9  simulated_census_2030_0_9     0_13974              1.0

In [35]:
# Looking at whether the exact *record* linked was from the same simulant
single_sim_record_links_correct = df_ops.compute(
    confirmed_piks_with_ground_truth
        .merge(
            census_2030_ground_truth.rename(columns={'record_id': 'record_id_raw_input_file'}),
            on='record_id_raw_input_file',
        )
        .merge(
            reference_files_ground_truth.rename(columns={'record_id': 'record_id_reference_file'}),
            on='record_id_reference_file',
        )
        .pipe(lambda df: (df.simulant_id_x == df.simulant_id_y) & (df.n_unique_simulants == 1))
        .sum()
)
single_sim_record_links_correct

9224

In [36]:
(
    single_sim_record_links_correct / piks_assigned
)

0.9342651676288869

### Definition 2

In [37]:
single_sim_piks_assigned = len(census_2030_piked[['record_id', 'pik']].merge(pik_simulant_pairs[pik_simulant_pairs.n_unique_simulants == 1][['pik', 'simulant_id']]))
single_sim_piks_assigned

9055

In [38]:
# Overall accuracy, treating it as a black box
(
    single_sim_piks_correct / single_sim_piks_assigned
)

0.9959138597459967

In [39]:
# Looking at whether the exact *record* linked was from the same simulant
single_sim_record_links_assigned = df_ops.compute(
    (confirmed_piks_with_ground_truth
        .merge(
            reference_files_ground_truth.rename(columns={'record_id': 'record_id_reference_file'}),
            on='record_id_reference_file',
        )
        .n_unique_simulants == 1).sum()
)
single_sim_record_links_assigned

9262

In [40]:
(
    single_sim_record_links_correct / single_sim_record_links_assigned
)

0.9958972144245304

### Definition 3

In [41]:
pik_simulant_pairs

          pik simulant_id  n_unique_simulants
0      69_497     0_19610                   2
1      60_572     0_14452                   2
2       41_86     0_17207                   2
3      60_718     0_22516                   2
4      72_820     0_21653                   2
...       ...         ...                 ...
20117  75_280     0_15578                   1
20118  75_239     0_22864                   1
20119  75_247     0_22123                   1
20120  75_252     0_22467                   1
20121  75_260      0_2399                   1

[20122 rows x 3 columns]

In [42]:
piks_at_least_partially_correct = df_ops.persist(
    census_2030_piked[['record_id', 'pik']].merge(pik_simulant_pairs, on='pik').merge(census_2030_ground_truth, on='record_id')
        .pipe(df_ops.drop_duplicates)
        .assign(correct=lambda df: df.simulant_id_x == df.simulant_id_y)
        .pipe(df_ops.groupby_agg_small_groups, by=["record_id", "pik"], agg_func=lambda x: x.correct.any())
        .reset_index()
)
piks_at_least_partially_correct

                         record_id     pik  correct
0        simulated_census_2030_0_0  55_190     True
1        simulated_census_2030_0_1  72_838     True
2       simulated_census_2030_0_10  71_108     True
3      simulated_census_2030_0_100  49_141     True
4     simulated_census_2030_0_1000   42_49     True
...                            ...     ...      ...
9868  simulated_census_2030_0_9995  69_243     True
9869  simulated_census_2030_0_9996  69_684     True
9870  simulated_census_2030_0_9997  64_218     True
9871  simulated_census_2030_0_9998  68_532     True
9872  simulated_census_2030_0_9999    72_4     True

[9873 rows x 3 columns]

In [43]:
# Overall accuracy, treating it as a black box
piks_correct_proportion = (df_ops.compute(piks_at_least_partially_correct.correct.sum()) / piks_assigned)
piks_correct_proportion

0.9960498328775448

In [44]:
print(f'{piks_correct_proportion:.5%} of the PIKs assigned were correct; compare with {real_life_pvs_accuracy:.5%} in real life')

99.60498% of the PIKs assigned were correct; compare with 99.82079% in real life

In [45]:
# Looking at whether the exact *record* linked was from the same simulant
sim_record_links_at_least_partially_correct = df_ops.persist(
    confirmed_piks_with_ground_truth
        .merge(
            census_2030_ground_truth.rename(columns={'record_id': 'record_id_raw_input_file'}),
            on='record_id_raw_input_file',
        )
        .merge(
            reference_files_ground_truth.rename(columns={'record_id': 'record_id_reference_file'}),
            on='record_id_reference_file',
        )
        .assign(correct=lambda df: df.simulant_id_x == df.simulant_id_y)
        .pipe(df_ops.groupby_agg_small_groups, by=["record_id_raw_input_file", "record_id_reference_file", "pik", "module_name", "pass_name"], agg_func=lambda x: x.correct.any())
        .reset_index()
)
sim_record_links_at_least_partially_correct

,record_id_raw_input_file,record_id_reference_file,pik,module_name,pass_name,correct
0,simulated_census_2030_0_0,simulated_geobase_reference_file_8_767,55_190,geosearch,geokey,True
1,simulated_census_2030_0_1,simulated_geobase_reference_file_13_1607,72_838,geosearch,geokey,True
2,simulated_census_2030_0_10,simulated_geobase_reference_file_4_1349,71_108,geosearch,geokey,True
3,simulated_census_2030_0_100,simulated_geobase_reference_file_15_392,49_141,geosearch,geokey,True
4,simulated_census_2030_0_1000,simulated_geobase_reference_file_9_197,42_49,geosearch,some name and DOB information,True
...,...,...,...,...,...,...
9868,simulated_census_2030_0_9995,simulated_geobase_reference_file_15_1238,69_243,hhcompsearch,year of birth,True
9869,simulated_census_2030_0_9996,simulated_geobase_reference_file_13_1451,69_684,geosearch,geokey,True
9870,simulated_census_2030_0_9997,simulated_geobase_reference_file_10_1098,64_218,geosearch,geokey,True
9871,simulated_census_2030_0_9998,simulated_geobase_reference_file_10_1336,68_532,geosearch,house number and street name Soundex,True
9872,simulated_census_2030_0_9999,simulated_geobase_reference_file_6_1438,72_4,geosearch,geokey,True

In [46]:
len(sim_record_links_at_least_partially_correct)

9873

In [47]:
len(df_ops.drop_duplicates(sim_record_links_at_least_partially_correct[['record_id_raw_input_file', 'record_id_reference_file']]))

9873

In [48]:
(
    df_ops.compute(sim_record_links_at_least_partially_correct.correct.sum()) / piks_assigned
)

0.9959485465410716

In [49]:
assert df_ops.compute((df_ops.groupby_agg_small_groups(confirmed_piks_with_ground_truth, by='record_id_raw_input_file', agg_func=lambda x: x.record_id_reference_file.nunique()) <= 1).all())

In [50]:
# Using definition 3 -- at the PIK level
piks_at_least_partially_correct = df_ops.persist(
    piks_at_least_partially_correct
        .rename(columns={'record_id': 'record_id_raw_input_file'})
        .merge(confirmed_piks_with_ground_truth[['record_id_raw_input_file', 'module_name', 'pass_name']], on='record_id_raw_input_file')
)
piks_at_least_partially_correct

,record_id_raw_input_file,pik,correct,module_name,pass_name
0,simulated_census_2030_0_0,55_190,True,geosearch,geokey
1,simulated_census_2030_0_1,72_838,True,geosearch,geokey
2,simulated_census_2030_0_10,71_108,True,geosearch,geokey
3,simulated_census_2030_0_100,49_141,True,geosearch,geokey
4,simulated_census_2030_0_1000,42_49,True,geosearch,some name and DOB information
...,...,...,...,...,...
9868,simulated_census_2030_0_9995,69_243,True,hhcompsearch,year of birth
9869,simulated_census_2030_0_9996,69_684,True,geosearch,geokey
9870,simulated_census_2030_0_9997,64_218,True,geosearch,geokey
9871,simulated_census_2030_0_9998,68_532,True,geosearch,house number and street name Soundex
9872,simulated_census_2030_0_9999,72_4,True,geosearch,geokey

In [51]:
# Accuracy by module -- note that this shows the opposite pattern (with the sample data)
# relative to the results of Layne et al., who found GeoSearch was much *more* accurate
df_ops.compute(piks_at_least_partially_correct.groupby("module_name").correct.agg(["mean", "size"]).sort_values("mean"))

                  mean  size
module_name
geosearch     0.995798  9282
dobsearch          1.0   166
hhcompsearch       1.0    37
namesearch         1.0   388

In [52]:
# Accuracy by pass -- could be used to tune pass-specific cutoffs, but
# this might not be too informative while we are still using the sample data.
df_ops.compute(piks_at_least_partially_correct.groupby(["module_name", "pass_name"]).correct.agg(["mean", "size"]).sort_values("mean"))

                                                                     mean  \
module_name  pass_name
geosearch    geokey                                               0.99434
             house number and street name Soundex                0.998255
dobsearch    initials name switch                                     1.0
             first two characters of first name and year of ...       1.0
             reverse Soundex of name                                  1.0
geosearch    geokey name switch                                       1.0
             house number and street name Soundex name switch         1.0
             some name and DOB information                            1.0
hhcompsearch initials                                                 1.0
             year of birth                                            1.0
namesearch   DOB and NYSIIS of name                                   1.0
             DOB and initials                                         1.0
             birthday and first two characters of name                1.0
             year of birth and first two characters of name           1.0

                                                                 size
module_name  pass_name
geosearch    geokey                                              6714
             house number and street name Soundex                 573
dobsearch    initials name switch                                   5
             first two characters of first name and year of ...   120
             reverse Soundex of name                               41
geosearch    geokey name switch                                    45
             house number and street name Soundex name switch       2
             some name and DOB information                       1948
hhcompsearch initials                                              29
             year of birth                                          8
namesearch   DOB and NYSIIS of name                               219
             DOB and initials                                      97
             birthday and first two characters of name             61
             year of birth and first two characters of name        11

In [53]:
# Using definition 3 -- at the link level
df_ops.compute(sim_record_links_at_least_partially_correct.groupby("module_name").correct.agg(["mean", "size"]).sort_values("mean"))

                  mean  size
module_name
geosearch     0.995691  9282
dobsearch          1.0   166
hhcompsearch       1.0    37
namesearch         1.0   388

In [54]:
df_ops.compute(sim_record_links_at_least_partially_correct.groupby(["module_name", "pass_name"]).correct.agg(["mean", "size"]).sort_values("mean"))

                                                                    mean  size
module_name  pass_name
geosearch    geokey                                              0.99434  6714
             house number and street name Soundex                0.99651   573
dobsearch    initials name switch                                    1.0     5
             first two characters of first name and year of ...      1.0   120
             reverse Soundex of name                                 1.0    41
geosearch    geokey name switch                                      1.0    45
             house number and street name Soundex name switch        1.0     2
             some name and DOB information                           1.0  1948
hhcompsearch initials                                                1.0    29
             year of birth                                           1.0     8
namesearch   DOB and NYSIIS of name                                  1.0   219
             DOB and initials                                        1.0    97
             birthday and first two characters of name               1.0    61
             year of birth and first two characters of name          1.0    11

In [55]:
df_ops.compute(sim_record_links_at_least_partially_correct[~sim_record_links_at_least_partially_correct.correct].groupby(["module_name", "pass_name"]).size()).sort_values()

module_name  pass_name
geosearch    house number and street name Soundex     2
             geokey                                  38
dtype: int64

### Incorrect and missed PIKs

In [56]:
incorrectly_linked_pairs = df_ops.persist(df_ops.drop_duplicates(
    sim_record_links_at_least_partially_correct[~sim_record_links_at_least_partially_correct.correct]
        [["record_id_raw_input_file", "record_id_reference_file"]]
))
incorrectly_linked_pairs

           record_id_raw_input_file                  record_id_reference_file
275   simulated_census_2030_0_10272  simulated_geobase_reference_file_10_1362
386    simulated_census_2030_0_1038  simulated_geobase_reference_file_19_1219
502   simulated_census_2030_0_10493   simulated_geobase_reference_file_9_1296
726   simulated_census_2030_0_10713    simulated_geobase_reference_file_5_227
831   simulated_census_2030_0_10816  simulated_geobase_reference_file_12_1235
1790    simulated_census_2030_0_187   simulated_geobase_reference_file_15_844
1932   simulated_census_2030_0_2000   simulated_geobase_reference_file_15_166
2354   simulated_census_2030_0_2468   simulated_geobase_reference_file_15_820
2392   simulated_census_2030_0_2503    simulated_geobase_reference_file_3_776
3627   simulated_census_2030_0_3780    simulated_geobase_reference_file_3_190
4086   simulated_census_2030_0_4235  simulated_geobase_reference_file_14_1153
4095   simulated_census_2030_0_4244    simulated_geobase_reference_file_18_92
4306   simulated_census_2030_0_4460  simulated_geobase_reference_file_12_1032
4393   simulated_census_2030_0_4544    simulated_geobase_reference_file_1_891
4554   simulated_census_2030_0_4700   simulated_geobase_reference_file_14_874
4844   simulated_census_2030_0_4990   simulated_geobase_reference_file_18_539
4856   simulated_census_2030_0_5000    simulated_geobase_reference_file_6_874
4920   simulated_census_2030_0_5065   simulated_geobase_reference_file_15_889
4967   simulated_census_2030_0_5114   simulated_geobase_reference_file_17_474
5223   simulated_census_2030_0_5370   simulated_geobase_reference_file_16_529
6344   simulated_census_2030_0_6509   simulated_geobase_reference_file_15_873
6397   simulated_census_2030_0_6563    simulated_geobase_reference_file_7_488
6751   simulated_census_2030_0_6928    simulated_geobase_reference_file_7_400
7086   simulated_census_2030_0_7264   simulated_geobase_reference_file_15_706
7403   simulated_census_2030_0_7573    simulated_geobase_reference_file_4_358
7452   simulated_census_2030_0_7621    simulated_geobase_reference_file_9_965
8050   simulated_census_2030_0_8202   simulated_geobase_reference_file_13_305
8076   simulated_census_2030_0_8227   simulated_geobase_reference_file_13_983
8272   simulated_census_2030_0_8424  simulated_geobase_reference_file_11_1022
8328   simulated_census_2030_0_8480   simulated_geobase_reference_file_17_494
8371   simulated_census_2030_0_8521    simulated_geobase_reference_file_1_535
8524   simulated_census_2030_0_8675   simulated_geobase_reference_file_5_1325
8732   simulated_census_2030_0_8881   simulated_geobase_reference_file_7_1205
8755   simulated_census_2030_0_8905    simulated_geobase_reference_file_3_899
8767   simulated_census_2030_0_8918    simulated_geobase_reference_file_7_286
8847   simulated_census_2030_0_8999    simulated_geobase_reference_file_5_454
8964   simulated_census_2030_0_9113  simulated_geobase_reference_file_17_1329
9068   simulated_census_2030_0_9215   simulated_geobase_reference_file_7_1105
9249   simulated_census_2030_0_9390    simulated_geobase_reference_file_16_68
9826   simulated_census_2030_0_9953   simulated_geobase_reference_file_13_898

In [57]:
len(incorrectly_linked_pairs)

40

In [58]:
incorrect_links = df_ops.head(incorrectly_linked_pairs, n=100)
incorrect_links

           record_id_raw_input_file                  record_id_reference_file
275   simulated_census_2030_0_10272  simulated_geobase_reference_file_10_1362
386    simulated_census_2030_0_1038  simulated_geobase_reference_file_19_1219
502   simulated_census_2030_0_10493   simulated_geobase_reference_file_9_1296
726   simulated_census_2030_0_10713    simulated_geobase_reference_file_5_227
831   simulated_census_2030_0_10816  simulated_geobase_reference_file_12_1235
1790    simulated_census_2030_0_187   simulated_geobase_reference_file_15_844
1932   simulated_census_2030_0_2000   simulated_geobase_reference_file_15_166
2354   simulated_census_2030_0_2468   simulated_geobase_reference_file_15_820
2392   simulated_census_2030_0_2503    simulated_geobase_reference_file_3_776
3627   simulated_census_2030_0_3780    simulated_geobase_reference_file_3_190
4086   simulated_census_2030_0_4235  simulated_geobase_reference_file_14_1153
4095   simulated_census_2030_0_4244    simulated_geobase_reference_file_18_92
4306   simulated_census_2030_0_4460  simulated_geobase_reference_file_12_1032
4393   simulated_census_2030_0_4544    simulated_geobase_reference_file_1_891
4554   simulated_census_2030_0_4700   simulated_geobase_reference_file_14_874
4844   simulated_census_2030_0_4990   simulated_geobase_reference_file_18_539
4856   simulated_census_2030_0_5000    simulated_geobase_reference_file_6_874
4920   simulated_census_2030_0_5065   simulated_geobase_reference_file_15_889
4967   simulated_census_2030_0_5114   simulated_geobase_reference_file_17_474
5223   simulated_census_2030_0_5370   simulated_geobase_reference_file_16_529
6344   simulated_census_2030_0_6509   simulated_geobase_reference_file_15_873
6397   simulated_census_2030_0_6563    simulated_geobase_reference_file_7_488
6751   simulated_census_2030_0_6928    simulated_geobase_reference_file_7_400
7086   simulated_census_2030_0_7264   simulated_geobase_reference_file_15_706
7403   simulated_census_2030_0_7573    simulated_geobase_reference_file_4_358
7452   simulated_census_2030_0_7621    simulated_geobase_reference_file_9_965
8050   simulated_census_2030_0_8202   simulated_geobase_reference_file_13_305
8076   simulated_census_2030_0_8227   simulated_geobase_reference_file_13_983
8272   simulated_census_2030_0_8424  simulated_geobase_reference_file_11_1022
8328   simulated_census_2030_0_8480   simulated_geobase_reference_file_17_494
8371   simulated_census_2030_0_8521    simulated_geobase_reference_file_1_535
8524   simulated_census_2030_0_8675   simulated_geobase_reference_file_5_1325
8732   simulated_census_2030_0_8881   simulated_geobase_reference_file_7_1205
8755   simulated_census_2030_0_8905    simulated_geobase_reference_file_3_899
8767   simulated_census_2030_0_8918    simulated_geobase_reference_file_7_286
8847   simulated_census_2030_0_8999    simulated_geobase_reference_file_5_454
8964   simulated_census_2030_0_9113  simulated_geobase_reference_file_17_1329
9068   simulated_census_2030_0_9215   simulated_geobase_reference_file_7_1105
9249   simulated_census_2030_0_9390    simulated_geobase_reference_file_16_68
9826   simulated_census_2030_0_9953   simulated_geobase_reference_file_13_898

In [59]:
%xdel incorrectly_linked_pairs

In [60]:
comparison_cols = [
    "first_name",
    "middle_name",
    "last_name",
    "date_of_birth",
    "street_number",
    "street_name",
    "unit_number",
    "city",
    "state",
]

incorrect_links_detail = (
    incorrect_links
        .merge(
            df_ops.compute(census_2030_piked[census_2030_piked.record_id.isin(incorrect_links.record_id_raw_input_file)])
                .rename(columns={"record_id": "record_id_raw_input_file", "middle_initial": "middle_name"})
                [["record_id_raw_input_file"] + comparison_cols],
            on="record_id_raw_input_file",
            how="left",
        )
        .merge(
            df_ops.compute(reference_file[reference_file.record_id.isin(incorrect_links.record_id_reference_file)])
                .rename(columns={"record_id": "record_id_reference_file"})
                .rename(columns=lambda c: c.replace('mailing_address_', ''))
                [["record_id_reference_file"] + comparison_cols],
            on="record_id_reference_file",
            how="left",
            suffixes=("_census", "_reference_file"),
        )
)
def flatten(xss):
    return [x for xs in xss for x in xs]

incorrect_links_detail[flatten([(f'{c}_census', f'{c}_reference_file') for c in comparison_cols])]

,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
0,Charlene,Mayra,L,Alaya,Stockman,Stockman,05/22/2025,20250522,13711,13711,filbert st,FILBERT ST,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
1,Aniylah,Kristin,R,Michelle,Reeder,Reeder,12/29/1982,19821229,6302,6302,n carleton ave,N CARLETON AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
2,Elroy,Cecflia,J,Karen,Abraham,Abeaham,08/17/1976,19760817,1242,1242,ashburton rd,ASHBURTON RD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
3,Jossph,Dylan,B,Jimmy,Hartwell,Hartwell,07/15/1992,19920715,225,225,av 360,AV 360,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
4,Amara,King,L,Louis,Vanover,Vanover,06/08/2027,20270608,<NA>,<NA>,sw 178th st,SW 178TH ST,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
5,Remington,Domonique,F,Jacquelyn,Woods,Woods,12/11/1988,19881211,8173,8173,meridian ave nth,MERIDIAN AVE NTH,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
6,Carolyn,Mark,E,Daniel,Tamariz,Tamariz,07/12/1966,19660712,3809,3809,brier creek ct,BRIER CREEK CT,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
7,Vivian,Tilly,M,Spencer,Ervin,Ervin,07/01/2019,20190701,11711,11711,sherwood st,SHERWOOD ST,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
8,Jorge,Colleen,C,Carol,Patel-Gallardo,Patel-Gallardo,07/18/1974,19740718,1850,1850,via blairo,VIA BLAIRO,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
9,Angel,Darryl,J,Gregory,Mata-Gonzalez,Mata-Gonzalez,08/26/1970,19700826,11990,11990,n 18th st,N 18TH ST,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
10,Lee,Amelia,J,Jade,<NA>,Acosta,01/12/2019,20190112,1245,1245,cs lane,CS LANE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
11,Samuel,Mari,G,Amy,Anderson,Anderson,04/13/1982,19820413,11716,11716,dogwood street,DOGWOOD STREET,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
12,Karina,Marissa,A,Alexis,Han,Han,04/13/1959,19590413,10485,10485,glen hllw dr,GLEN HLLW DR,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
13,Desiree,Elizabeth,OP,Olivia,Clegg,Clegg,01/31/2012,20120131,5862,5862,gordon lane,GORDON LANE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
14,Everly,Joseph,E,Waylon,Nieto,Nieto,06/01/2021,20210601,6833,6833,amy lane,AMY LANE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
15,Maggie,Ronan,S,Payton,Mcknight,Mcknight,11/20/2024,20241120,769,769,union,UNION,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
16,Angel,Louisa,S,Gemma,Holmes,Holmes,09/29/2020,20200929,915,915,rolling vsta dr,ROLLING VSTA DR,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
17,Cooper,William,M,Beckham,Pham,Pham,05/18/2027,20270518,1086,1086,linda vsta road,LINDA VSTA ROAD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
18,Paige,Grace,A,Harper,Ortiz,Ortiz,05/05/2015,20150505,2918,2918,ford rd,FORD RD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
19,Cody,Denise,M,Pamela,Turner,Turner,12/04/1957,19571204,462,462,village green dr,VILLAGE GREEN DR,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
20,Chloe,Whitney,E,Erika,Caahrillo,Carrillo,05/17/2017,20170517,1704,1704,cotton tail dr,COTTON TAIL DR,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
21,Franklin,Elaine,R,Rachel,Partain,Partain,09/03/1945,19450903,3387,3387,glen mdws dr,GLEEN MDWS DR,<NA>,<NA>,Anytodn,ANYTOWN,WA,WA
22,Dominick,Lux,M,Luka,Aiello,Aiello,06/30/2026,20260630,32193,32193,hillman loop,HILLMAN LOOP,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
23,Brandon,Brenda,C,Amelia,Adames,Adames,03/31/1987,19870331,475,475,kirkwood pkwy sw,KIRKWOOD PKWY SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
24,Layla,Lux,KM,Luka,Torres,Torres,06/04/2027,20270604,2116,2116,24th street,24TH STREET,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
25,Kelly,James,C,Logan,Duane,Duane,02/17/2005,20050217,<NA>,<NA>,se 25th ave,SE 25TH AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
26,Dash,<NA>,Z,Hayley,Heaney,Heaney,07/19/1997,19970719,401,401,britannia court,BRITANNIA COURT,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
27,Anthony,Kaitlyn,K,Trinity,Liu,Liu,07/15/2013,20130715,6007,6007,banneker ln,BANNEKER LN,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
28,Kevin,Chloe,G,Myla,Villasenor,Villasenor,11/26/2014,20141126,2218,2218,main st,MAIN ST,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
29,Brent,Michele,C,Maria,Blancas-Sanchez,Blancas-Sanchez,08/23/1963,19630823,640,640,s kern ave,S KERN AVE,un 122b,UN 122B,Anytown,ANYTOWN,WA,WA
30,Eleanor,Jimhie,E,Eddy,Gutierrez,Gutierrez,04/10/1953,19530410,526,526,45th st sw,45TH ST SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
31,Elias,Yesenia,K,Essence,Williamson,Williamson,09/18/1997,19970918,número 10420,NÚMERO 10420,south capitol street se,SOUTH CAPITOL STREET SE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
32,Lana,Aniyah,A,Camryn,Mcanally,Mcanally,02/11/2005,20050211,n3140,N3140,silver eagle cir,SILVER EAGLE CIR,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
33,Knox,Grace,B,Vanessa,Jacob,Jacob,10/08/1988,19881008,9200,9200,nw promenade ter,NW PROMENADE TER,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
34,Luther,Amarie,M,Robert,Lovell,Lovell,05/19/2003,20030519,38,38,glenmont rd nw,GLENMONT RD NW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
35,Bridget,Michael,D,Michael,Korich,Korich,12/09/1957,19571209,34199,34199,ashton woods pl,ASHTON WOODS PL,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
36,Marc,Deborah,D,Robin,Songer,Songer,07/09/1964,19640709,1402,1402,s houston ave,S HOUSTON AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
37,Grayson,Anna,G,Violet,Basilio,Bzsilio,05/23/2015,20150523,407,407,welland st,WELLAND ST,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
38,Camille,Jayla,A,Allison,Brooks,Brooks,12/28/2028,20281228,2317,2317,dunbar avenue,DUNBAR AVENUE,<NA>,<NA>,Anytown,ANYTOWN,WA,<NA>
39,Alicia,Beckham,R,William,Talley,Talley,05/01/2023,20230501,6761,6761,ne hancock st,NE HANCOCK ST,<NA>,<NA>,Anytown,ANYTOWN,WA,WA

In [61]:
missed_links = df_ops.persist(
    census_2030_piked[census_2030_piked.pik.isnull()][["record_id"]]
        .merge(census_2030_ground_truth, on="record_id")
        .merge(reference_files_ground_truth[reference_files_ground_truth.n_unique_simulants == 1], on="simulant_id", suffixes=("_census", "_reference_file"))
)

In [62]:
len(missed_links)

3284

In [63]:
simulants_missed = df_ops.head(missed_links[['simulant_id']], n=100).simulant_id.unique()
simulants_missed

<StringArray>
['0_10251', '0_13861',     '0_9', '0_21615', '0_21616',    '0_21',  '0_2154',
 '0_11857', '0_18062', '0_17384',  '0_5474', '0_18927', '0_12284',  '0_4702',
 '0_21693', '0_22602',  '0_4991',  '0_7310', '0_12456', '0_17692',  '0_4445',
  '0_2048',  '0_2538',    '0_74',  '0_1471',  '0_1611',  '0_1637',  '0_1980',
  '0_2057',  '0_2144',  '0_2767',  '0_2957',  '0_2990',  '0_3536',  '0_4519',
  '0_4583',  '0_4763',  '0_4807']
Length: 38, dtype: string

In [64]:
missed_pairs = df_ops.compute(missed_links[missed_links.simulant_id.isin(list(simulants_missed))])
missed_pairs

,record_id_census,simulant_id,possible_to_pik,record_id_reference_file,n_unique_simulants
0,simulated_census_2030_0_4,0_10251,1.0,simulated_geobase_reference_file_11_612,1
1,simulated_census_2030_0_4,0_10251,1.0,simulated_geobase_reference_file_11_613,1
2,simulated_census_2030_0_4,0_10251,1.0,simulated_geobase_reference_file_11_614,1
3,simulated_census_2030_0_4,0_10251,1.0,simulated_name_dob_reference_file_1_3553,1
4,simulated_census_2030_0_6,0_13861,1.0,simulated_geobase_reference_file_0_1419,1
...,...,...,...,...,...
98,simulated_census_2030_0_309,0_4763,1.0,simulated_name_dob_reference_file_0_7086,1
99,simulated_census_2030_0_310,0_4807,1.0,simulated_geobase_reference_file_14_1027,1
100,simulated_census_2030_0_310,0_4807,1.0,simulated_geobase_reference_file_14_1028,1
101,simulated_census_2030_0_310,0_4807,1.0,simulated_geobase_reference_file_14_1026,1
102,simulated_census_2030_0_310,0_4807,1.0,simulated_name_dob_reference_file_0_6232,1

In [65]:
%xdel missed_links

In [66]:
missed_links_detail = (
    missed_pairs
        .merge(
            df_ops.compute(census_2030_piked[census_2030_piked.record_id.isin(list(missed_pairs.record_id_census))])
                .rename(columns={"record_id": "record_id_census", "middle_initial": "middle_name"}),
            on="record_id_census",
        )
        .merge(
            df_ops.compute(reference_file[reference_file.record_id.isin(missed_pairs.record_id_reference_file)])
                .rename(columns=lambda c: c.replace('mailing_address_', ''))
                .rename(columns={"record_id": "record_id_reference_file"}),
            on="record_id_reference_file",
            suffixes=("_census", "_reference_file"),
        )
)

In [67]:
for simulant in simulants_missed:
    print(simulant)
    display(missed_links_detail[missed_links_detail.simulant_id == simulant][['simulant_id'] + flatten([(f'{c}_census', f'{c}_reference_file') for c in comparison_cols])])

0_10251

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
0,0_10251,Bobby,Bpbbu,S,Shane,Rhimpson,Thompson,05/30/1985,19850520,<NA>,<NA>,winding trail rd,WINDING TRAIL RD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
1,0_10251,Bobby,Bpbbu,S,Shane,Rhimpson,Thompson,05/30/1985,19850520,<NA>,17861,winding trail rd,WINDING TRAIL RD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
2,0_10251,Bobby,Bpbbu,S,Shane,Rhimpson,Thompson,05/30/1985,19850520,<NA>,17868,winding trail rd,WINDING TRAIL RD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
3,0_10251,Bobby,Bpbbu,S,Shane,Rhimpson,Thompson,05/30/1985,19850520,<NA>,<NA>,winding trail rd,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_13861

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
4,0_13861,Levi J,Levi,,Jared,Shirley,Sbirlev,01/19/198o,19800119,32597,1307,delacorte dr,ROSEWOOD AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
5,0_13861,Levi J,Levi,,Jared,Shirley,Sbirlev,01/19/198o,19800119,32597,32597,delacorte dr,DELACORTE DR,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
6,0_13861,Levi J,Levi,,Jared,Shirley,Sbirlev,01/19/198o,19800119,32597,<NA>,delacorte dr,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_9

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
7,0_9,Elijah,Elijah,N,Noah,Esquivel,Esquivel,10/31/2015,29151031,1648,1648,<NA>,EAGLE HEIGHTS,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
8,0_9,Elijah,Elijah,N,Noah,Esquivel,Esquivel,10/31/2015,29151031,1648,<NA>,<NA>,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_21615

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
9,0_21615,Camila,Camila,F,Farrah,Skhwartz,Schwartz,11/05/2016,20400819,211,3434,winchester rd,LAKESIDE CLUB BLVD 7,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
10,0_21615,Camila,Camila,F,Farrah,Skhwartz,Schwartz,11/05/2016,20400819,211,211,winchester rd,WINCHESTER RD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
11,0_21615,Camila,Camila,F,Farrah,Skhwartz,Schwartz,11/05/2016,20400819,211,<NA>,winchester rd,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_21616

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
12,0_21616,Brooke,Brooke,S,Emery,Schwartz,Schwartz,10/12/2020,20671012,211,211,winchester rd,WINCHESTER RD,<NA>,<NA>,<NA>,ANYTOWN,WA,WA
13,0_21616,Brooke,Brooke,S,Emery,Schwartz,Schwartz,10/12/2020,20671012,211,3434,winchester rd,LAKESIDE CLUB BLVD 7,<NA>,<NA>,<NA>,ANYTOWN,WA,WA
14,0_21616,Brooke,Brooke,S,Emery,Schwartz,Schwartz,10/12/2020,20671012,211,<NA>,winchester rd,<NA>,<NA>,<NA>,<NA>,<NA>,WA,<NA>

0_21

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
15,0_21,Gianna,Gianna,R,Rosemary,Doucet,Doucet,09/05/1964,19610308,13208,13208,w warren ave,W WARREN AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
16,0_21,Gianna,Gianna,R,Rosemary,Doucet,Doucet,09/05/1964,19610308,13208,13208,w warren ave,W WARAHEN AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
17,0_21,Gianna,Gianna,R,Rosemary,Doucet,Doucet,09/05/1964,19610308,13208,13208,w warren ave,W WARREN AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
18,0_21,Gianna,Gianna,R,Rosemary,Doucet,Doucet,09/05/1964,19610308,13208,13208,w warren ave,W WARREN AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
19,0_21,Gianna,Gianna,R,Rosemary,Doucet,Doucet,09/05/1964,19610308,13208,<NA>,w warren ave,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_2154

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
20,0_2154,Wayne,Wayme,J,Jason,Jimenez,Jimenez,08/06/1678,19780824,2520,2520,westminster ave,WESTMINSTER AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
21,0_2154,Wayne,Wayme,J,Jason,Jimenez,Jimenez,08/06/1678,19780824,2520,2520,westminster ave,WESTMINSTER AVE,<NA>,<NA>,Anytown,4NYTOWN,WA,WA
22,0_2154,Wayne,Wayme,J,Jason,Jimenez,Jimenez,08/06/1678,19780824,2520,<NA>,westminster ave,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_11857

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
23,0_11857,Noah,Noah,B,Bennett,Kron,Kron,08/12/2003,20030812,112,28819,stonewall tell rd,GOODMAN STREET,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
24,0_11857,Noah,Noah,B,Bennett,Kron,Kron,08/12/2003,20030812,112,112,stonewall tell rd,STONEWALL TELL RD,<NA>,<NA>,Anytown,ANYTOWN,WA,PA
25,0_11857,Noah,Noah,B,Bennett,Kron,Kron,08/12/2003,20030812,112,112,stonewall tell rd,STONEWALL TELL RD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
26,0_11857,Noah,Noah,B,Bennett,Kron,Kron,08/12/2003,20030812,112,28819,stonewall tell rd,GOODMAN STREET,<NA>,<NA>,Anytown,ANITOWN,WA,WA
27,0_11857,Noah,Noah,B,Bennett,Kron,Kron,08/12/2003,20030812,112,<NA>,stonewall tell rd,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_18062

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
28,0_18062,Man,Kevin,S,Inmate,Thurman,Thurman,10/29/5985,19851029,215,215,nrthw 66th street,NRTHW 66TH STREET,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
29,0_18062,Man,Kevin,S,Inmate,Thurman,Thurman,10/29/5985,19851029,215,<NA>,nrthw 66th street,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_17384

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
30,0_17384,Bonnie,Bonnie,D,Danna,Reyes,Reyes,04/30/1969,19690030,9,9,hickogy dr,HICKORY DR,<NA>,<NA>,Anytown,<NA>,WA,WA
31,0_17384,Bonnie,Bonnie,D,Danna,Reyes,Reyes,04/30/1969,19690030,9,<NA>,hickogy dr,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_5474

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
32,0_5474,Dylan,Dylan,A,Aceson,Dewyer,Dewyer,07/31/2016,20160731,2055,2055,bridlewood dr,BRIDLEWOOD DR,<NA>,<NA>,Anyton,ANYTOWN,WA,WA
33,0_5474,Dylan,Dylan,A,Aceson,Dewyer,Dewyer,07/31/2016,20160731,2055,<NA>,bridlewood dr,<NA>,<NA>,<NA>,Anyton,<NA>,WA,<NA>

0_18927

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
34,0_18927,Danny M,Danny,,Mark,Moore,Moore,<NA>,19630522,2994,2994,franklin ave,FRANKLIN AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
35,0_18927,Danny M,Danny,,Mark,Moore,Moore,<NA>,19630522,2994,<NA>,franklin ave,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_12284

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
36,0_12284,Inmate,Nathaniel,C,Carson,Brooks-Lebron,Brooks-Lebron,10/26/2004,20041026,2324,2327,n college ave,N COLLEGE AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
37,0_12284,Inmate,Nathaniel,C,Carson,Brooks-Lebron,Brooks-Lebron,10/26/2004,20041026,2324,2327,n college ave,N COLLEGE AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
38,0_12284,Inmate,Nathaniel,C,Carson,Brooks-Lebron,Brooks-Lebron,10/26/2004,20041026,2324,<NA>,n college ave,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_4702

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
39,0_4702,Brooke,Brooke,A,A,Blackwell,Blackwell,06/22/1995,<NA>,5301,5301,e lputnah ave,W PUTNAM AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
40,0_4702,Brooke,Brooke,A,A,Blackwell,Blackwell,06/22/1995,<NA>,5301,3548,e lputnah ave,S BALDWIN,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
41,0_4702,Brooke,Brooke,A,A,Blackwell,Blackwell,06/22/1995,<NA>,5301,<NA>,e lputnah ave,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_21693

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
42,0_21693,Hordan,Jordan,M,M,Cremoja,Cremona,04/27/1998,<NA>,1807,12580,n oaklawn ave,LASALLE BLVD,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
43,0_21693,Hordan,Jordan,M,M,Cremoja,Cremona,04/27/1998,<NA>,1807,<NA>,n oaklawn ave,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_22602

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
44,0_22602,Male Child,Emily,J,Jenna,<NA>,Blackwell,11/27/2026,20261127,5301,<NA>,w putnam ave,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_4991

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
45,0_4991,Ryan,Ryan,T,T,Cdawforc,Crawford,11/04/1976,<NA>,1410,<NA>,w chas mdws dr,<NA>,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
46,0_4991,Ryan,Ryan,T,T,Cdawforc,Craw,11/04/1976,<NA>,1410,<NA>,w chas mdws dr,<NA>,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
47,0_4991,Ryan,Ryan,T,T,Cdawforc,Crawford,11/04/1976,<NA>,1410,<NA>,w chas mdws dr,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>
48,0_4991,Ryan,Ryan,T,T,Cdawforc,Craw,11/04/1976,<NA>,1410,<NA>,w chas mdws dr,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_7310

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
49,0_7310,Eiizabeyh,Elizabeth,H,Heather,Miller,Doh,08/15/1974,19740815,7809,<NA>,august dr,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>
50,0_7310,Eiizabeyh,Elizabeth,H,Heather,Miller,Doh,08/15/1974,19740815,7809,<NA>,august dr,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_12456

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
51,0_12456,Gregory,Greg,J,Harrington,Harrington,John,12/27/1962,19621227,14 1 2,54 1 2,2nd avenue,2ND AVENUE,floor # 1 apartment 1,FLOOR # 1 APARTMENT 1,Anytown,ANYTOWN,WA,WA
52,0_12456,Gregory,Greg,J,Harrington,Harrington,John,12/27/1962,19621227,14 1 2,14 1 2,2nd avenue,2ND AVENUE,floor # 1 apartment 1,FLOOR # 1 APARTMENT 1,Anytown,ANYTOSWN,WA,WA
53,0_12456,Gregory,Greg,J,Harrington,Harrington,John,12/27/1962,19621227,14 1 2,14 1 2,2nd avenue,2ND AVENUE,floor # 1 apartment 1,FLOOR # 1 APARTMENT 1,Anytown,ANYTOWN,WA,WA
54,0_12456,Gregory,Greg,J,Harrington,Harrington,John,12/27/1962,19621227,14 1 2,14 1 2,2nd avenue,2ND AVENUE,floor # 1 apartment 1,FLOOR # 1 APARTMENT 1,Anytown,ANYTOWN,WA,PA
55,0_12456,Gregory,Greg,J,Harrington,Harrington,John,12/27/1962,19621227,14 1 2,<NA>,2nd avenue,<NA>,floor # 1 apartment 1,<NA>,Anytown,<NA>,WA,<NA>

0_17692

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
56,0_17692,Suzanne,Sue,J,Judith,Mcfarland,Mcfarland,11/13/1967,19671113,813,813,carriage hill ln,CARRIAGE HILL LN,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
57,0_17692,Suzanne,Sue,J,Judith,Mcfarland,Mcfarland,11/13/1967,19671113,813,<NA>,carriage hill ln,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_4445

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
58,0_4445,James,James,W,William,Cobnn,Conn,08/25/1942,19740213,403,403,rt 55,RT 55,<NA>,<NA>,Anytown,ANYTOWN,NaN,KY
59,0_4445,James,James,W,William,Cobnn,Conn,08/25/1942,19740213,403,603,rt 55,RT 55,<NA>,<NA>,Anytown,<NA>,NaN,WA
60,0_4445,James,James,W,William,Cobnn,Conn,08/25/1942,19740213,403,403,rt 55,RT 55,<NA>,<NA>,Anytown,ANYTOWN,NaN,WA
61,0_4445,James,James,W,William,Cobnn,Conn,08/25/1942,19740213,403,<NA>,rt 55,<NA>,<NA>,<NA>,Anytown,<NA>,NaN,<NA>

0_2048

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
62,0_2048,Ddsidee,Ddsiree,R,Rose,Mabry,Mabry,03/22/1956,1956032z,687,687,<NA>,BUCKSHOT DR,<NA>,<NA>,Anytown,ANYTOWN,CA,KY
63,0_2048,Ddsidee,Ddsiree,R,Rose,Mabry,Mabry,03/22/1956,1956032z,687,687,<NA>,BUCKSHOT DR,<NA>,<NA>,Anytown,ANYTOWN,CA,WA
64,0_2048,Ddsidee,Ddsiree,R,Rose,Mabry,Mabry,03/22/1956,1956032z,687,<NA>,<NA>,<NA>,<NA>,<NA>,Anytown,<NA>,CA,<NA>

0_2538

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
65,0_2538,Mary,Mary,J,J,Kam,Kam,06/04/1970,<NA>,3268,3268,<NA>,WALNUT STREET,floor number 1 apartment # 377,FLOOR NUMBER 3 APARTMENT # 377,Anytown,ANYTOWN,WA,WA
66,0_2538,Mary,Mary,J,J,Kam,Kam,06/04/1970,<NA>,3268,<NA>,<NA>,<NA>,floor number 1 apartment # 377,<NA>,Anytown,<NA>,WA,<NA>

0_74

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
67,0_74,Ddew,Drew,O,Omar,Kennedy,Kennedy,12/24/2001,<NA>,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
68,0_74,Ddew,Drew,O,Omar,Kennedy,Kennedy,12/24/2001,<NA>,34,34,bowen cir sw,BOWEM CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
69,0_74,Ddew,Drew,O,Omar,Kennedy,Kennedy,12/24/2001,<NA>,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_1471

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
70,0_1471,Kenzie,Kenzie,A,Aubrey,Turner,Turner,01/22/2007,20072201,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
71,0_1471,Kenzie,Kenzie,A,Aubrey,Turner,Turner,01/22/2007,20072201,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_1611

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
72,0_1611,Maricela,Maricela,J,Jeanette,Dhoi,Choi,12/08/1973,19730812,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,<NA>
73,0_1611,Maricela,Maricela,J,Jeanette,Dhoi,Choi,12/08/1973,19730812,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
74,0_1611,Maricela,Maricela,J,Jeanette,Dhoi,Choi,12/08/1973,19730812,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_1637

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
75,0_1637,Dad,Angelina,M,Makayla,Marko,Marko,08/06/2004,20040806,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
76,0_1637,Dad,Angelina,M,Makayla,Marko,Marko,08/06/2004,20040806,34,32,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
77,0_1637,Dad,Angelina,M,Makayla,Marko,Marko,08/06/2004,20040806,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_1980

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
78,0_1980,Charlotte,Charlotte,K,Kasey,Rinehart,Rinehart,04/23/2012,26120423,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>
79,0_1980,Charlotte,Charlotte,K,Kasey,Rinehart,Rinehart,04/23/2012,26120423,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_2057

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
80,0_2057,Dayne,Wayne,J,Jamie,Anaya,Anaya,06/19/1975,19750619,34,34,biwen cir saw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
81,0_2057,Dayne,Wayne,J,Jamie,Anaya,Anaya,06/19/1975,19750619,34,<NA>,biwen cir saw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_2144

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
82,0_2144,<NA>,Mai,T,Thomas,Mai,Joshua,11/10/2004,20041110,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
83,0_2144,<NA>,Mai,T,Thomas,Mai,Joshua,11/10/2004,20041110,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_2767

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
84,0_2767,<NA>,Lynette,G,Geneva,Kimbrough,Kimbrough,06/20/1952,19520620,34,34,bowsn cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,KY,WA
85,0_2767,<NA>,Lynette,G,Geneva,Kimbrough,Kimbrough,06/20/1952,19520620,34,<NA>,bowsn cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,KY,<NA>

0_2957

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
86,0_2957,Elizabeth,Elizabeth,M,Marilyn,Declined,Martin,04/03/2011,2011o403,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
87,0_2957,Elizabeth,Elizabeth,M,Marilyn,Declined,Martin,04/03/2011,2011o403,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_2990

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
88,0_2990,David,David,J,Josh,Herold,Herold,18/06/1978,19780619,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
89,0_2990,David,David,J,Josh,Herold,Herold,18/06/1978,19780619,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_3536

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
90,0_3536,Elyse,Elyse,M,Maria,Arceo,Arceo,31/06/2003,20030126,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
91,0_3536,Elyse,Elyse,M,Maria,Arceo,Arceo,31/06/2003,20030126,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_4519

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
92,0_4519,Gabriel,Wyatt,W,Gabriel,Simmons,Of House,12/20/2010,20101220,34,37,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,AGYTOWN,WA,WA
93,0_4519,Gabriel,Wyatt,W,Gabriel,Simmons,Of House,12/20/2010,20101220,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
94,0_4519,Gabriel,Wyatt,W,Gabriel,Simmons,Of House,12/20/2010,20101220,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_4583

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
95,0_4583,Garrett,<NA>,W,Wyatt,Nickell,Nickell,07/29/1995,19950729,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anydown,ANYTOWN,WA,WA
96,0_4583,Garrett,<NA>,W,Wyatt,Nickell,Nickell,07/29/1995,19950729,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anydown,<NA>,WA,<NA>

0_4763

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
97,0_4763,Doris,Doris,L,Lana,Gleeson,Gleeson,<NA>,19430504,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
98,0_4763,Doris,Doris,L,Lana,Gleeson,Gleeson,<NA>,19430504,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>

0_4807

,simulant_id,first_name_census,first_name_reference_file,middle_name_census,middle_name_reference_file,last_name_census,last_name_reference_file,date_of_birth_census,date_of_birth_reference_file,street_number_census,street_number_reference_file,street_name_census,street_name_reference_file,unit_number_census,unit_number_reference_file,city_census,city_reference_file,state_census,state_reference_file
99,0_4807,Zoey,Zoey,A,Audrey,Leach,Leach,09/58/2010,20100908,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
100,0_4807,Zoey,Zoey,A,Audrey,Leach,Leach,09/58/2010,20100908,34,34,bowen cir sw,BOWEN CIR SW,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
101,0_4807,Zoey,Zoey,A,Audrey,Leach,Leach,09/58/2010,20100908,34,4828,bowen cir sw,W LINCOLN AVE,<NA>,<NA>,Anytown,ANYTOWN,WA,WA
102,0_4807,Zoey,Zoey,A,Audrey,Leach,Leach,09/58/2010,20100908,34,<NA>,bowen cir sw,<NA>,<NA>,<NA>,Anytown,<NA>,WA,<NA>