# Generate simulated data to link

In this case study, we imagine running a person linkage on a simulated 2030 Census Unedited File (CUF) --
see the main notebook for more details, including references used throughout this notebook.
This notebook creates simulated input (CUF) and reference files approximating what would be used in such a process,
emulating the methods found in publicly available descriptions of the Census Bureau's primary person linkage system, PVS.

In [1]:
# Query planning is now on by default, but it has some rough edges.
# See https://github.com/dask/dask/issues/10995 for general discussion
# and https://github.com/dask/dask-expr/issues/1060 for the particular
# issue I ran into.
import dask

dask.config.set({"dataframe.query-planning": False})

In [2]:
import os
import warnings
import datetime

# Importing pandas for access, regardless of whether we are using it as the compute engine
import pandas
import numpy
from IPython.display import display

In [3]:
%load_ext autoreload
%autoreload 1

In [4]:
%aimport vivarium_research_prl
from vivarium_research_prl import distributed_compute, utils

In [5]:
warnings.simplefilter(action="ignore", category=FutureWarning)

In [6]:
# DO NOT EDIT if this notebook is not called generate_simulated_data.ipynb!
# This notebook is designed to be run with papermill; this cell is tagged 'parameters'
data_to_use = "small_sample"
output_dir = "../output/generate_simulated_data"
compute_engine = "pandas"
num_jobs = 10
cpus_per_job = 2
threads_per_job = 1
memory_per_job = "10GB"
local_directory = f"/tmp/{os.environ['USER']}_dask"

In [7]:
# Parameters
data_to_use = "ri"
output_dir = (
    "/ihme/scratch/users/zmbc/person_linkage_case_study/generate_simulated_data/"
)
compute_engine = "dask"
num_jobs = 10
memory_per_job = "60GB"
cpus_per_job = 2

In [8]:
utils.ensure_empty(local_directory)

In [9]:
print(datetime.datetime.now())

2024-05-15 22:45:07.335367

In [10]:
df_ops, pd = distributed_compute.start_compute_engine(
    compute_engine,
    num_jobs=num_jobs,
    cpus_per_job=cpus_per_job,
    threads_per_job=threads_per_job,
    memory_per_job=memory_per_job,
    local_directory=local_directory,
)

In [11]:
def save_file_with_ground_truth(file_name, file, ground_truth):
    # Check that file and ground truth have the same records
    assert (
        # record_id is unique
        len(file)
        == len(df_ops.drop_duplicates(file[["record_id"]]))
    )
    assert len(ground_truth) == len(
        file[["record_id"]].merge(
            ground_truth[["record_id"]], on="record_id", how="inner"
        )
    )

    file_path = f"{output_dir}/{data_to_use}/{file_name}.parquet"
    utils.remove_path(file_path)
    file.to_parquet(file_path)

    ground_truth_path = f"{output_dir}/{data_to_use}/{file_name}_ground_truth.parquet"
    utils.remove_path(ground_truth_path)
    ground_truth.to_parquet(ground_truth_path)

## Load pseudopeople simulated datasets

### Record ID tracking (data lineage)

We do a little bit of work here to enable tracking the "ground truth" (the simulant IDs from
pseudopeople).
We give each pseudopeople record/row a unique identifier for tracking, and then we immediately
separate the ground truth information (which we would not have if we were using real data)
from the rest of the columns (which we would have).
The ground truth is only used in the specific "ground truth" section of this notebook,
to help avoid accidentally leaking information into the case study.

Since we also combine/aggregate pseudopeople records as part of the process of generating the
simulated reference files, ground truth is a bit more complicated than you might imagine.
For example, the ground truth may tell us that a single row in a reference file is actually
a composite of several individuals, because even the deterministic linkage (by SSN) we use
here is not without error.

We handle this by tracking *all* source records used in the construction of each record in
our reference files.
This is achieved by having a table mapping composite record IDs to the "source record IDs"
(IDs of records that were directly generated by pseudopeople).
When we aggregate records, this is combined accordingly.

In [12]:
def add_unique_id_col(df, col_name="unique_id", value_prefix=""):
    if compute_engine == "pandas" or compute_engine.startswith("modin"):
        return (
            df.reset_index()
            .rename(columns={"index": col_name})
            .assign(**{col_name: lambda df: value_prefix + df[col_name].astype(str)})
        )
    elif compute_engine.startswith("dask"):
        # Can use cumsum as in https://stackoverflow.com/a/60852409/ if it needs
        # to be incrementing, but we just need uniqueness

        def add_id_to_partition(df_part, partition_info=None):
            return df_part.assign(**{col_name: range(len(df_part))}).assign(
                **{
                    col_name: lambda x: (
                        value_prefix
                        + str(
                            partition_info["number"]
                            if partition_info is not None
                            else 0
                        )
                        + "_"
                        + x[col_name].astype(str)
                    ).astype("large_string[pyarrow]")
                }
            )

        df = df.map_partitions(add_id_to_partition)

        return df_ops.ensure_large_string_capacity(df)
    else:
        raise ValueError()


def add_unique_record_id(df, dataset_name):
    return add_unique_id_col(df, col_name="record_id", value_prefix=f"{dataset_name}_")


# Initializes a table listing the pairs between record_ids and source record_ids.
# Should only be called on "source records"; that is, records that
# come directly out of pseudopeople.
def record_id_to_single_source_record_pairs(df, source_col="record_id"):
    if source_col == "record_id":
        # We can't have duplicate column names, so we make a new column
        # literally called 'source_col'
        df = df.assign(source_col=lambda df: df[source_col])
        source_col = "source_col"

    return df[["record_id", source_col]].rename(
        columns={source_col: "source_record_id"}
    )

In [13]:
# Operations that aggregate records, combining the source record pairs
# between all records that are aggregated


def merge_preserving_source_records(
    dfs, source_record_pairings, new_record_id_prefix, *args, **kwargs
):
    assert len(dfs) == len(source_record_pairings)
    for df in dfs:
        assert "record_id" in df.columns

    on = kwargs.get("on", None)
    if on is not None:
        # If there are nulls in any of the merge columns, they can't match to anything
        dfs = [df.dropna(subset=on, how="any") for df in dfs]

    result = dfs[0]
    source_record_pairs = source_record_pairings[0]
    dfs_and_source_record_pairs_to_combine = list(
        zip(dfs[1:], source_record_pairings[1:])
    )
    for index, (df_to_merge, source_record_pairs_to_merge) in enumerate(
        dfs_and_source_record_pairs_to_combine
    ):
        result = result.merge(df_to_merge, *args, **kwargs)
        if index == len(dfs_and_source_record_pairs_to_combine) - 1:
            # Since this is the last step, these are the record_ids that will actually be returned
            accumulate_step_record_id_prefix = new_record_id_prefix
        else:
            # A dummy intermediate -- this shouldn't be exposed to the user
            accumulate_step_record_id_prefix = f"merge_iter_{index}"

        result = add_unique_record_id(result, accumulate_step_record_id_prefix)
        source_record_pairs = df_ops.concat(
            [
                # The pairs that were already in result
                source_record_pairs.rename(columns={"record_id": "record_id_x"})
                .merge(result[["record_id", "record_id_x"]], on="record_id_x")
                .drop(columns=["record_id_x"]),
                # The new ones
                source_record_pairs_to_merge.rename(
                    columns={"record_id": "record_id_y"}
                )
                .merge(result[["record_id", "record_id_y"]], on="record_id_y")
                .drop(columns=["record_id_y"]),
            ]
        )
        result = result.drop(columns=["record_id_x", "record_id_y"])

    return result, source_record_pairs


def dedupe_preserving_source_records(
    df, source_record_pairs, columns_to_dedupe, new_record_id_prefix
):  # , source_records_col='source_record_ids'):
    result = df_ops.drop_duplicates(df[columns_to_dedupe])
    result = add_unique_record_id(result, new_record_id_prefix)
    df_to_result_mapping = (
        df[["record_id"] + columns_to_dedupe]
        .rename(columns={"record_id": "record_id_pre_dedupe"})
        .merge(result, on=columns_to_dedupe)[["record_id", "record_id_pre_dedupe"]]
    )
    result_source_record_pairs = (
        source_record_pairs.rename(columns={"record_id": "record_id_pre_dedupe"})
        .merge(df_to_result_mapping, on="record_id_pre_dedupe")
        .drop(columns=["record_id_pre_dedupe"])
    )
    return result, result_source_record_pairs


def concat_preserving_source_records(dfs, source_record_pairings, new_record_id_prefix):
    dfs = [df.rename(columns={"record_id": "record_id_pre_concat"}) for df in dfs]
    result = df_ops.concat(dfs, ignore_index=True)
    result = add_unique_record_id(result, new_record_id_prefix)

    record_id_mapping = result[["record_id", "record_id_pre_concat"]]
    validate_kwarg = (
        {
            "validate": "m:1",
        }
        if not compute_engine.startswith("dask")
        else {}
    )  # Dask doesn't support validate

    all_source_record_pairings = df_ops.persist(
        df_ops.concat(source_record_pairings, ignore_index=False)
    )
    result_source_record_pairs = df_ops.persist(
        all_source_record_pairings.rename(columns={"record_id": "record_id_pre_concat"})
        .merge(record_id_mapping, on="record_id_pre_concat", **validate_kwarg)
        .drop(columns=["record_id_pre_concat"])
    )

    if compute_engine.startswith("dask"):
        # Manual alternative to the 'validate' kwarg
        assert len(result_source_record_pairs) == len(all_source_record_pairings)

    return result.drop(columns=["record_id_pre_concat"]), result_source_record_pairs

### Custom noise types

A few noise types are really important here, but not implemented in pseudopeople, so we implement them as "add-ons."

In [14]:
def split_columns_incorrectly(
    df: pandas.DataFrame, columns: list[str], row_probability: float, seed: int = 1234
):
    rng = numpy.random.default_rng(seed)

    to_split_incorrectly = pandas.Series(
        rng.random(len(df)) < row_probability, index=df.index
    )
    full_name = (
        df.loc[to_split_incorrectly, columns]
        .fillna("")
        .agg(" ".join, axis=1)
        .str.strip()
    )

    num_spaces_or_hyphens = full_name.str.count("[ -]")
    split_name = full_name.str.split("[ -]", regex=True, expand=True).fillna("").values

    split_points = numpy.ceil(
        numpy.sort(rng.random((len(full_name), len(columns) - 1)), axis=1)
        * num_spaces_or_hyphens.values.reshape((len(full_name), 1))
    ).astype(int)
    string_start_points_1d = (
        numpy.arange(split_name.shape[0], dtype=int) * split_name.shape[1]
    )
    string_end_points_1d = numpy.append(
        string_start_points_1d[1:], [split_name.shape[0] * split_name.shape[1]]
    )
    last_split_points_1d = None

    for split_index, column_name in enumerate(columns):
        # Map into 1D space
        new_column = split_name.copy().reshape(-1)

        if last_split_points_1d is not None:
            erase_before_slices = tuple(
                slice(string_start_point, last_split_point)
                for string_start_point, last_split_point in zip(
                    string_start_points_1d, last_split_points_1d
                )
            )
        else:
            erase_before_slices = tuple()

        if split_index < split_points.shape[1]:
            split_points_1d = (
                numpy.arange(split_name.shape[0], dtype=int) * split_name.shape[1]
                + split_points[:, split_index]
            )
            erase_after_slices = tuple(
                slice(split_point, string_end_point)
                for split_point, string_end_point in zip(
                    split_points_1d, string_end_points_1d
                )
            )
        else:
            erase_after_slices = tuple()

        new_column[numpy.r_[erase_before_slices + erase_after_slices]] = ""
        new_column[new_column != ""] += " "
        df.loc[to_split_incorrectly, column_name] = (
            new_column.reshape(split_name.shape)
        ).sum(axis=1)
        df.loc[to_split_incorrectly, column_name] = df.loc[
            to_split_incorrectly, column_name
        ].str.strip()

        last_split_points_1d = split_points_1d

    return df

In [15]:
def shuffle_columns(
    df: pandas.DataFrame, columns: list[str], row_probability: float, seed: int = 1234
):
    rng = numpy.random.default_rng(seed)

    to_shuffle = pandas.Series(rng.random(len(df)) < row_probability, index=df.index)
    original_values = df.loc[to_shuffle, columns].values
    random_ordering = numpy.argsort(rng.random(original_values.shape), axis=1)
    df.loc[to_shuffle, columns] = numpy.take_along_axis(
        original_values, random_ordering, axis=1
    )

    return df

In [16]:
def truncate_column(
    df: pandas.DataFrame,
    column: str,
    cell_probability: float,
    truncation_length: int,
    seed: int = 1234,
):
    rng = numpy.random.default_rng(seed)
    to_truncate = pandas.Series(rng.random(len(df)) < cell_probability, index=df.index)
    df.loc[to_truncate, "last_name"] = df.loc[to_truncate, "last_name"].str[
        :truncation_length
    ]
    return df

In [17]:
def apply_custom_noise_type(df, noise_type, *args, seed: int = 1234, **kwargs):
    if compute_engine.startswith("dask"):
        return df.map_partitions(
            lambda partition, partition_info=None: noise_type(
                partition,
                *args,
                seed=(
                    seed
                    + (partition_info["number"] if partition_info is not None else 1)
                    * 10_000
                ),
                **kwargs,
            ),
            meta=df,
        )
    else:
        return noise_type(
            df,
            *args,
            seed=seed,
            **kwargs,
        )

### 1040 tax filings

We assume that the last 5 years of taxes would be available and used in the construction of the reference files -- see section about reference files below.

Note that these are retrieved by *tax* year, so the 2029 taxes would be available in early 2030
(around when our hypothetical case study is taking place).

In [18]:
tax_years = list(range(2025, 2030))
tax_years

[2025, 2026, 2027, 2028, 2029]

In [19]:
%%time

# Combine 1040 for all years.
simulated_taxes_1040 = df_ops.concat(
    [
        df_ops.read_parquet(
            f"{output_dir}/{data_to_use}/pseudopeople_simulated_datasets/simulated_taxes_1040_{year}.parquet",
            columns=[
                "simulant_id",
                "ssn",
                "first_name",
                "middle_initial",
                "last_name",
                "mailing_address_street_number",
                "mailing_address_street_name",
                "mailing_address_unit_number",
                "mailing_address_po_box",
                "mailing_address_city",
                "mailing_address_state",
                "mailing_address_zipcode",
            ],
        )
        for year in tax_years
    ],
    ignore_index=True,
)

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     3.758800e+05
std      2.212262e+05
min      3.081090e+05
25%      3.342182e+05
50%      3.411435e+05
75%      3.487612e+05
max      1.858610e+06
dtype: float64
Creating partitions of 100MB

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     3.833006e+05
std      2.368116e+05
min      3.107490e+05
25%      3.386120e+05
50%      3.466780e+05
75%      3.533568e+05
max      1.944450e+06
dtype: float64
Creating partitions of 100MB

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     3.906647e+05
std      2.536263e+05
min      3.172590e+05
25%      3.440475e+05
50%      3.507670e+05
75%      3.588152e+05
max      2.062286e+06
dtype: float64
Creating partitions of 100MB

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     3.979754e+05
std      2.689150e+05
min      3.153860e+05
25%      3.483168e+05
50%      3.562320e+05
75%      3.635840e+05
max      2.175320e+06
dtype: float64
Creating partitions of 100MB

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     4.049995e+05
std      2.847889e+05
min      3.264820e+05
25%      3.530625e+05
50%      3.598380e+05
75%      3.694715e+05
max      2.305432e+06
dtype: float64
Creating partitions of 100MB

CPU times: user 8.86 s, sys: 630 ms, total: 9.49 s
Wall time: 15.3 s

In [20]:
simulated_taxes_1040 = apply_custom_noise_type(
    simulated_taxes_1040,
    split_columns_incorrectly,
    ["first_name", "middle_initial", "last_name"],
    row_probability=0.01,
    seed=1,
)

In [21]:
# "... many of the [IRS] records contain only the first four letters of the last name."
# (Brown et al. 2023, p.30, footnote 19)
# Note that this truncation only matters for ITIN PIKing since for SSNs that are present in SSA we use name from SSA.
PROPORTION_OF_IRS_RECORDS_WITH_TRUNCATION = (
    0.4  # is this a good guess at "many" in the quote above?
)
simulated_taxes_1040 = apply_custom_noise_type(
    simulated_taxes_1040,
    truncate_column,
    "last_name",
    cell_probability=PROPORTION_OF_IRS_RECORDS_WITH_TRUNCATION,
    truncation_length=4,
    seed=2,
)

In [22]:
simulated_taxes_1040 = apply_custom_noise_type(
    simulated_taxes_1040,
    shuffle_columns,
    ["first_name", "middle_initial", "last_name"],
    row_probability=0.01,
    seed=3,
)

In [23]:
simulated_taxes_1040 = df_ops.persist(
    add_unique_record_id(simulated_taxes_1040, "simulated_1040")
)
simulated_taxes_1040_source_record_pairs = df_ops.persist(
    record_id_to_single_source_record_pairs(simulated_taxes_1040)
)

In [24]:
simulated_taxes_1040_ground_truth = simulated_taxes_1040[["record_id", "simulant_id"]]
simulated_taxes_1040 = simulated_taxes_1040.drop(columns=["simulant_id"])
simulated_taxes_1040, simulated_taxes_1040_ground_truth = df_ops.persist(
    simulated_taxes_1040, simulated_taxes_1040_ground_truth
)
simulated_taxes_1040

Dask DataFrame Structure:
                   ssn first_name middle_initial last_name mailing_address_street_number mailing_address_street_name mailing_address_unit_number mailing_address_po_box mailing_address_city mailing_address_state mailing_address_zipcode record_id
npartitions=10
                string     string         string    string                        string                      string                      string                 string               string     category[unknown]                  string    string
                   ...        ...            ...       ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
...                ...        ...            ...       ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
                   ...        ...            ...       ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
                   ...        ...            ...       ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
Dask Name: drop_by_shallow_copy, 1 graph layer

### W2/1099 tax filings

We assume that the last 5 years of taxes would be available and used in the construction of the reference files --
see section about reference files below.

Note that these are retrieved by *tax* year, so the 2029 taxes would be available in early 2030
(around when our hypothetical case study is taking place).

In [25]:
%%time

# Combine W2/1099 for all years.
simulated_w2_1099 = df_ops.concat(
    [
        df_ops.read_parquet(
            f"{output_dir}/{data_to_use}/pseudopeople_simulated_datasets/simulated_taxes_w2_and_1099_{year}.parquet",
            columns=[
                "simulant_id",
                "ssn",
                "first_name",
                "middle_initial",
                "last_name",
                "mailing_address_street_number",
                "mailing_address_street_name",
                "mailing_address_unit_number",
                "mailing_address_po_box",
                "mailing_address_city",
                "mailing_address_state",
                "mailing_address_zipcode",
            ],
        )
        for year in tax_years
    ],
    ignore_index=True,
)

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     5.304221e+05
std      3.343910e+05
min      4.255630e+05
25%      4.685228e+05
50%      4.774700e+05
75%      4.892972e+05
max      2.739024e+06
dtype: float64
Creating partitions of 100MB

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     5.314950e+05
std      3.499141e+05
min      4.347210e+05
25%      4.662330e+05
50%      4.766655e+05
75%      4.879408e+05
max      2.872983e+06
dtype: float64
Creating partitions of 100MB

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     5.322388e+05
std      3.654403e+05
min      4.326680e+05
25%      4.656698e+05
50%      4.757885e+05
75%      4.852160e+05
max      2.968656e+06
dtype: float64
Creating partitions of 100MB

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     5.331195e+05
std      3.791302e+05
min      4.232560e+05
25%      4.650238e+05
50%      4.734835e+05
75%      4.855010e+05
max      3.085694e+06
dtype: float64
Creating partitions of 100MB

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     5.345569e+05
std      3.951428e+05
min      4.336440e+05
25%      4.634540e+05
50%      4.723570e+05
75%      4.835768e+05
max      3.182488e+06
dtype: float64
Creating partitions of 100MB

CPU times: user 9.58 s, sys: 589 ms, total: 10.2 s
Wall time: 18.7 s

In [26]:
simulated_w2_1099 = apply_custom_noise_type(
    simulated_w2_1099,
    split_columns_incorrectly,
    ["first_name", "middle_initial", "last_name"],
    row_probability=0.01,
    seed=4,
)

In [27]:
simulated_w2_1099 = apply_custom_noise_type(
    simulated_w2_1099,
    truncate_column,
    "last_name",
    cell_probability=PROPORTION_OF_IRS_RECORDS_WITH_TRUNCATION,
    truncation_length=4,
    seed=5,
)

In [28]:
simulated_w2_1099 = apply_custom_noise_type(
    simulated_w2_1099,
    shuffle_columns,
    ["first_name", "middle_initial", "last_name"],
    row_probability=0.01,
    seed=6,
)

In [29]:
simulated_w2_1099 = df_ops.persist(
    add_unique_record_id(simulated_w2_1099, "simulated_w2_1099")
)
simulated_w2_1099_source_record_pairs = df_ops.persist(
    record_id_to_single_source_record_pairs(simulated_w2_1099)
)

In [30]:
simulated_w2_1099_ground_truth = simulated_w2_1099[["record_id", "simulant_id"]]
simulated_w2_1099 = simulated_w2_1099.drop(columns=["simulant_id"])
simulated_w2_1099, simulated_w2_1099_ground_truth = df_ops.persist(
    simulated_w2_1099, simulated_w2_1099_ground_truth
)
simulated_w2_1099

Dask DataFrame Structure:
                   ssn first_name middle_initial last_name mailing_address_street_number mailing_address_street_name mailing_address_unit_number mailing_address_po_box mailing_address_city mailing_address_state mailing_address_zipcode record_id
npartitions=10
                string     string         string    string                        string                      string                      string                 string               string     category[unknown]                  string    string
                   ...        ...            ...       ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
...                ...        ...            ...       ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
                   ...        ...            ...       ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
                   ...        ...            ...       ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [31]:
simulated_taxes, simulated_taxes_source_record_pairs = concat_preserving_source_records(
    [simulated_taxes_1040, simulated_w2_1099],
    [simulated_taxes_1040_source_record_pairs, simulated_w2_1099_source_record_pairs],
    new_record_id_prefix="simulated_taxes",
)

In [32]:
simulated_taxes_1040_with_itins = simulated_taxes_1040[
    simulated_taxes_1040.ssn.notnull() & simulated_taxes_1040.ssn.str.startswith("9")
]
simulated_taxes_1040_with_itins_source_record_pairs = (
    simulated_taxes_1040_source_record_pairs.merge(
        simulated_taxes_1040_with_itins[["record_id"]], on="record_id", how="inner"
    )
)
simulated_taxes_1040_with_itins, simulated_taxes_1040_with_itins_source_record_pairs = (
    df_ops.persist(
        simulated_taxes_1040_with_itins,
        simulated_taxes_1040_with_itins_source_record_pairs,
    )
)

%xdel simulated_taxes_1040
%xdel simulated_taxes_1040_source_record_pairs

In [33]:
%xdel simulated_w2_1099
%xdel simulated_w2_1099_source_record_pairs

In [34]:
simulated_taxes, simulated_taxes_source_record_pairs = df_ops.persist(
    simulated_taxes, simulated_taxes_source_record_pairs
)

### 2030 Census Unedited File (CUF)

For now, we gloss over the data schema for addresses.
We don't know how addresses would be formatted in the CUF (and it's hard to guess, because
address is not part of the Census form), but it likely would have some of these fields
(street number, street name, etc) combined.

While PVS input files do not in general have names split into first, middle, and last,
I am guessing the CUF **would** have first name, middle initial, last name (which is how pseudopeople
generates it), because that [matches the Census questionnaire](https://www2.census.gov/programs-surveys/decennial/2020/technical-documentation/questionnaires-and-instructions/questionnaires/2020-informational-questionnaire-english_DI-Q1.pdf).

In [35]:
%%time

simulated_census_2030 = df_ops.read_parquet(
    f"{output_dir}/{data_to_use}/pseudopeople_simulated_datasets/simulated_census_2030.parquet"
)

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     7.043365e+05
std      4.637435e+05
min      5.793950e+05
25%      6.191792e+05
50%      6.314965e+05
75%      6.467880e+05
max      3.863641e+06
dtype: float64
Creating partitions of 100MB

CPU times: user 2.46 s, sys: 212 ms, total: 2.68 s
Wall time: 7.3 s

In [36]:
simulated_census_2030 = apply_custom_noise_type(
    simulated_census_2030,
    split_columns_incorrectly,
    ["first_name", "middle_initial", "last_name"],
    row_probability=0.01,
    seed=7,
)

In [37]:
simulated_census_2030 = apply_custom_noise_type(
    simulated_census_2030,
    shuffle_columns,
    ["first_name", "middle_initial", "last_name"],
    row_probability=0.01,
    seed=8,
)

In [38]:
simulated_census_2030 = df_ops.persist(
    add_unique_record_id(simulated_census_2030, "simulated_census_2030")
)

In [39]:
simulated_census_2030_ground_truth = simulated_census_2030[["record_id", "simulant_id"]]
simulated_census_2030 = simulated_census_2030.drop(columns=["simulant_id"])
simulated_census_2030, simulated_census_2030_ground_truth = df_ops.persist(
    simulated_census_2030, simulated_census_2030_ground_truth
)
simulated_census_2030

Dask DataFrame Structure:
              household_id first_name middle_initial last_name     age date_of_birth street_number street_name unit_number    city              state zipcode housing_type relationship_to_reference_person                sex     race_ethnicity   year record_id
npartitions=3
                    string     string         string    string  string        string        string      string      string  string  category[unknown]  string       string                category[unknown]  category[unknown]  category[unknown]  int64    string
                       ...        ...            ...       ...     ...           ...           ...         ...         ...     ...                ...     ...          ...                              ...                ...                ...    ...       ...
                       ...        ...            ...       ...     ...           ...           ...         ...         ...     ...                ...     ...          ...                              ...                ...                ...    ...       ...
                       ...        ...            ...       ...     ...           ...           ...         ...         ...     ...                ...     ...          ...                              ...                ...                ...    ...       ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [40]:
save_file_with_ground_truth(
    "simulated_census_2030", simulated_census_2030, simulated_census_2030_ground_truth
)

In [41]:
%xdel simulated_census_2030

### Simulated SSA Numident

In [42]:
%%time

simulated_ssa_numident = df_ops.read_parquet(
    f"{output_dir}/{data_to_use}/pseudopeople_simulated_datasets/simulated_ssa_numident.parquet"
)

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    3.340000e+02
mean     1.538987e+08
std      4.423421e+05
min      1.514889e+08
25%      1.539535e+08
50%      1.540221e+08
75%      1.540776e+08
max      1.542736e+08
dtype: float64
Creating partitions of 5,140MB

CPU times: user 7.25 s, sys: 1.57 s, total: 8.81 s
Wall time: 1min 54s

In [43]:
simulated_ssa_numident = apply_custom_noise_type(
    simulated_ssa_numident,
    split_columns_incorrectly,
    ["first_name", "middle_name", "last_name"],
    row_probability=0.01,
    seed=9,
)

In [44]:
simulated_ssa_numident = apply_custom_noise_type(
    simulated_ssa_numident,
    shuffle_columns,
    ["first_name", "middle_name", "last_name"],
    row_probability=0.01,
    seed=10,
)

In [45]:
if data_to_use == "ri":
    # Remove simulants who were never observed in Rhode Island -- this is unrealistic to real life!
    # We only do this to create a medium-sized set of reference files for computational testing.
    simulated_ssa_numident = (
        simulated_ssa_numident.merge(
            df_ops.drop_duplicates(
                simulated_taxes_1040_ground_truth[["simulant_id"]]
            ).assign(observed_in_taxes_1040=1),
            on="simulant_id",
            how="left",
        )
        .merge(
            df_ops.drop_duplicates(
                simulated_w2_1099_ground_truth[["simulant_id"]]
            ).assign(observed_in_taxes_w2_1099=1),
            on="simulant_id",
            how="left",
        )
        .merge(
            df_ops.drop_duplicates(
                simulated_census_2030_ground_truth[["simulant_id"]]
            ).assign(observed_in_census_2030=1),
            on="simulant_id",
            how="left",
        )
        .assign(
            observed_ever=lambda df: (df.observed_in_taxes_1040 == 1)
            | (df.observed_in_taxes_w2_1099 == 1)
            | (df.observed_in_census_2030 == 1)
        )
        .pipe(lambda df: df[df.observed_ever])
        .drop(
            columns=[
                "observed_in_taxes_1040",
                "observed_in_taxes_w2_1099",
                "observed_in_census_2030",
                "observed_ever",
            ]
        )
    )

In [46]:
%xdel simulated_census_2030_ground_truth

In [47]:
simulated_ssa_numident = df_ops.persist(
    add_unique_record_id(simulated_ssa_numident, "simulated_ssa_numident")
)
simulated_ssa_numident_source_record_pairs = df_ops.persist(
    record_id_to_single_source_record_pairs(simulated_ssa_numident)
)

In [48]:
simulated_ssa_numident_ground_truth = simulated_ssa_numident[
    ["record_id", "simulant_id"]
]
simulated_ssa_numident = simulated_ssa_numident.drop(columns=["simulant_id"])
simulated_ssa_numident, simulated_ssa_numident_ground_truth = df_ops.persist(
    simulated_ssa_numident, simulated_ssa_numident_ground_truth
)
simulated_ssa_numident

Dask DataFrame Structure:
                   ssn first_name middle_name last_name date_of_birth                sex         event_type event_date record_id
npartitions=20
                string     string      string    string        string  category[unknown]  category[unknown]     string    string
                   ...        ...         ...       ...           ...                ...                ...        ...       ...
...                ...        ...         ...       ...           ...                ...                ...        ...       ...
                   ...        ...         ...       ...           ...                ...                ...        ...       ...
                   ...        ...         ...       ...           ...                ...                ...        ...       ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [49]:
source_record_ground_truth = df_ops.persist(
    df_ops.concat(
        [
            simulated_ssa_numident_ground_truth,
            simulated_taxes_1040_ground_truth,
            simulated_w2_1099_ground_truth,
        ]
    ).rename(columns={"record_id": "source_record_id"})
)
source_record_ground_truth

Dask DataFrame Structure:
               source_record_id simulant_id
npartitions=40
                         string      string
                            ...         ...
...                         ...         ...
                            ...         ...
                            ...         ...
Dask Name: rename, 1 graph layer

In [50]:
%xdel simulated_taxes_1040_ground_truth
%xdel simulated_w2_1099_ground_truth

## Create reference files

> The Census Numident – all Social Security Administration (SSA) Numident SSN records are
  edited (collapsed) to produce a Census Numident file that contains “one best-data record” for
  each SSN. All variants of name information for each SSN are retained in the Alternate Name
  Numident file, while all variants of date of birth data are retained in the Alternate DOB
  Numident. The SSN-PIK crosswalk file is used to attach a corresponding unique PIK value for
  each SSN value in the Census Numident file.

### Census Numident

Luque and Wagner, p. 4:
  
> The SSA Numident file contains all transactions ever recorded against any single SSN - with each entry
representing an addition or change (such as name changes) to the SSN record. This file is edited to
create the **Census Numident**, which contains one record for each SSN. Each SSN record in the Census
Numident contains name, DOB, sex, race, place of birth, parents’ name, citizenship status and date of death information.

and in footnote 5:

> Name edits, DOB reconciliation, and race identifiers are some of the edits conducted to produce this Numident
file. **The resulting Numident file contains the most recent name and DOB data.**

We are missing quite a few columns, since they are missing in pseudopeople's SSA Numident: race, place of birth, parents' name,
citizenship status.
However, I'm pretty sure none of these are used in linking.

In [51]:
def fill_dates(df, fill_with):
    return (
        # Replace invalid dates with nans
        pd.to_datetime(df.event_date, format="%Y%m%d", errors="coerce").fillna(
            pandas.to_datetime("2100-01-01" if fill_with == "latest" else "1900-01-01")
        )
    )


def best_data_from_columns(df, columns, best_is_latest=True):
    # We don't want to throw out events with a missing/invalid date, so we'll fill them with the value *least* likely to be chosen
    # (earlier than all values if taking the latest, later than all values if taking the earliest).
    fill_with = "earliest" if best_is_latest else "latest"

    result = (
        df
        # Without mutating the existing date column, get one that is actually
        # a date type and can be used for sorting.
        # Note: we actually convert this to an integer for sorting purposes, because Modin was having trouble
        # sorting by it as an actual datetime
        .assign(
            event_date_for_sort=lambda df: fill_dates(df, fill_with=fill_with).astype(
                numpy.int64
            )
            // 10**9
        )
        .dropna(subset=columns, how="all")
        .pipe(
            lambda df: df_ops.drop_duplicates(
                df,
                subset="ssn",
                sort_col="event_date_for_sort",
                keep=("last" if best_is_latest else "first"),
            )
        )[["record_id", "ssn"] + columns]
    )

    return result, record_id_to_single_source_record_pairs(result)


best_name, best_name_source_record_pairs = best_data_from_columns(
    simulated_ssa_numident,
    columns=["first_name", "middle_name", "last_name"],
)

best_date_of_birth, best_date_of_birth_source_record_pairs = best_data_from_columns(
    simulated_ssa_numident,
    columns=["date_of_birth"],
)

best_date_of_death, best_date_of_death_source_record_pairs = best_data_from_columns(
    simulated_ssa_numident[simulated_ssa_numident.event_type == "death"],
    columns=["event_date"],
)
best_date_of_death = best_date_of_death.rename(columns={"event_date": "date_of_death"})

simulated_census_numident, simulated_census_numident_source_record_pairs = (
    df_ops.persist(
        merge_preserving_source_records(
            [best_name, best_date_of_birth, best_date_of_death],
            [
                best_name_source_record_pairs,
                best_date_of_birth_source_record_pairs,
                best_date_of_death_source_record_pairs,
            ],
            new_record_id_prefix="simulated_census_numident",
            on=["ssn"],
            how="left",
        )
    )
)
simulated_census_numident

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    1.200000e+02
mean     2.312509e+06
std      1.441207e+06
min      2.714390e+05
25%      2.856512e+05
50%      3.312114e+06
75%      3.334434e+06
max      3.375787e+06
dtype: float64
Creating partitions of 100MB

Dask DataFrame Structure:
                   ssn first_name middle_name last_name date_of_birth date_of_death record_id
npartitions=40
                string     string      string    string        string        string    string
                   ...        ...         ...       ...           ...           ...       ...
...                ...        ...         ...       ...           ...           ...       ...
                   ...        ...         ...       ...           ...           ...       ...
                   ...        ...         ...       ...           ...           ...       ...
Dask Name: drop_by_shallow_copy, 1 graph layer

### Alternate Name Numident

Wagner and Layne, p. 9:

>  All variants of name information for each SSN are retained in the Alternate Name
Numident file...

In [52]:
(
    simulated_alternate_name_numident,
    simulated_alternate_name_numident_source_record_pairs,
) = df_ops.persist(
    dedupe_preserving_source_records(
        simulated_ssa_numident,
        simulated_ssa_numident_source_record_pairs,
        columns_to_dedupe=["ssn", "first_name", "middle_name", "last_name"],
        new_record_id_prefix="simulated_alternate_name_numident",
    )
)
simulated_alternate_name_numident

Dask DataFrame Structure:
                   ssn first_name middle_name last_name record_id
npartitions=40
                string     string      string    string    string
                   ...        ...         ...       ...       ...
...                ...        ...         ...       ...       ...
                   ...        ...         ...       ...       ...
                   ...        ...         ...       ...       ...
Dask Name: to_pyarrow_string, 1 graph layer

In [53]:
df_ops.compute(
    df_ops.groupby_agg_small_groups(
        simulated_alternate_name_numident, by="ssn", agg_func=lambda x: x.size()
    ).describe()
)

count    1.669041e+06
mean     1.017560e+00
std      1.313470e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.000000e+00
dtype: float64

In [54]:
# Show alternate names for the same simulated SSN
simulated_alternate_name_numident.merge(
    df_ops.groupby_agg_small_groups(
        simulated_alternate_name_numident[["ssn"]],
        by="ssn",
        agg_func=lambda x: x.size(),
    )
    .pipe(lambda x: x[x > 1])
    .reset_index()[["ssn"]],
    on="ssn",
    how="inner",
).sort_values("ssn").tail(100)

,ssn,first_name,middle_name,last_name,record_id
1468,898-61-9514,Marian,<NA>,Chartraw,simulated_alternate_name_numident_39_82617
1469,898-61-9514,Marian,Cynthia,Chartraw,simulated_alternate_name_numident_39_82618
1360,898-65-2190,Charles,Frank,Goh,simulated_alternate_name_numident_39_82676
1361,898-65-2190,Charles,Fahank,Starkman,simulated_alternate_name_numident_39_82677
1500,898-71-0888,Robert,Bailey,Ray,simulated_alternate_name_numident_39_82796
...,...,...,...,...,...
1417,899-90-9271,Larry,Tom,Boyd,simulated_alternate_name_numident_39_85111
1428,899-91-8198,Rebecca,Regina,Berry,simulated_alternate_name_numident_39_85123
1429,899-91-8198,Rebecca,Reggie,Berry,simulated_alternate_name_numident_39_85124
1508,899-97-2868,Sandra,Linda,Natioj,simulated_alternate_name_numident_39_85225
1509,899-97-2868,Sandra,Linda,Nation,simulated_alternate_name_numident_39_85226

### Alternate DOB Numident

Wagner and Layne, p. 9:

> ... while all variants of date of birth data are retained in the Alternate DOB
Numident.

In [55]:
(
    simulated_alternate_dob_numident,
    simulated_alternate_dob_numident_source_record_pairs,
) = df_ops.persist(
    dedupe_preserving_source_records(
        simulated_ssa_numident,
        simulated_ssa_numident_source_record_pairs,
        columns_to_dedupe=["ssn", "date_of_birth"],
        new_record_id_prefix="simulated_alternate_dob_numident",
    )
)
simulated_alternate_dob_numident

Dask DataFrame Structure:
                   ssn date_of_birth record_id
npartitions=40
                string        string    string
                   ...           ...       ...
...                ...           ...       ...
                   ...           ...       ...
                   ...           ...       ...
Dask Name: to_pyarrow_string, 1 graph layer

In [56]:
df_ops.compute(
    df_ops.groupby_agg_small_groups(
        simulated_alternate_dob_numident, by="ssn", agg_func=lambda x: x.size()
    ).describe()
)

count    1.669041e+06
mean     1.006501e+00
std      8.036837e-02
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      2.000000e+00
dtype: float64

In [57]:
simulated_alternate_dob_numident.merge(
    df_ops.groupby_agg_small_groups(
        simulated_alternate_dob_numident[["ssn"]], by="ssn", agg_func=lambda x: x.size()
    )
    .pipe(lambda x: x[x > 1])
    .reset_index()[["ssn"]],
    on="ssn",
    how="inner",
).sort_values("ssn").tail(100)

             ssn date_of_birth                                  record_id
472  895-63-7757      19491011  simulated_alternate_dob_numident_39_76153
473  895-63-7757      20060307  simulated_alternate_dob_numident_39_76154
552  895-65-2395      09400328  simulated_alternate_dob_numident_39_76186
553  895-65-2395      19400328  simulated_alternate_dob_numident_39_76187
512  895-73-4340          <NA>  simulated_alternate_dob_numident_39_76312
..           ...           ...                                        ...
571  899-88-7506      19490405  simulated_alternate_dob_numident_39_84102
556  899-98-1297      19586411  simulated_alternate_dob_numident_39_84277
557  899-98-1297      19580411  simulated_alternate_dob_numident_39_84278
510  899-99-3070      20150117  simulated_alternate_dob_numident_39_84304
511  899-99-3070      20050117  simulated_alternate_dob_numident_39_84305

[100 rows x 3 columns]

### Name/DOB Reference File

Wagner and Layne, p. 9:

> The Name and DOB Reference files are reformatted versions of the Census Numident
and includes **all possible combinations of alternate names and dates of birth, as well as
ITIN data**. All of the reference files contain SSN/ITIN and the corresponding PIK. When
an input record is linked to a reference file, the corresponding PIK is assigned. Table 1
presents the number of observations in each of the reference files.

A slightly confusing point: sometimes the Name and DOB reference files are described
as one and the same thing, and sometimes as separate.
I believe this is because **they differ only in how they are "cut" for the PVS process:**
the name reference file is cut by first and last initial,
while the DOB reference file is cut by month and day of birth.

This is described in Wagner and Layne, p.15:

> The [DOBSearch] module matches against a re-split
version of the Numident Name Reference file, splitting the data based on month and day
of birth.

Since we handle the logic of "cutting" in the linkage process itself, we generate
a single reference file here.

Note that unlike for addresses, and unlike for the pre-processing of *input* files
(as opposed to reference files), there is no explicit nickname processing/correction here.
I am fairly sure that is accurate to the PVS, which I believe assumes that nicknames
would not be present in SSA/tax records (or at least, that the real name would appear
at least once in these records).

In [58]:
(
    simulated_name_dob_numident_records,
    simulated_name_dob_numident_records_source_record_pairs,
) = df_ops.persist(
    merge_preserving_source_records(
        [simulated_alternate_name_numident, simulated_alternate_dob_numident],
        [
            simulated_alternate_name_numident_source_record_pairs,
            simulated_alternate_dob_numident_source_record_pairs,
        ],
        on=["ssn"],
        how="left",
        new_record_id_prefix="name_dob_numident_records",
    )
)
simulated_name_dob_numident_records

Dask DataFrame Structure:
                   ssn first_name middle_name last_name date_of_birth record_id
npartitions=40
                string     string      string    string        string    string
                   ...        ...         ...       ...           ...       ...
...                ...        ...         ...       ...           ...       ...
                   ...        ...         ...       ...           ...       ...
                   ...        ...         ...       ...           ...       ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [59]:
# Show alternate name/DOB for the same simulated SSN
simulated_name_dob_numident_records.merge(
    df_ops.groupby_agg_small_groups(
        simulated_name_dob_numident_records[["ssn"]],
        by="ssn",
        agg_func=lambda x: x.size(),
    )
    .pipe(lambda x: x[x > 1])
    .reset_index()[["ssn"]],
    on="ssn",
    how="inner",
).sort_values("ssn").tail(100)

,ssn,first_name,middle_name,last_name,date_of_birth,record_id
2048,899-01-4879,Ardis,Josie,Keane,19270919,name_dob_numident_records_4_42738
2049,899-01-4879,Ardis,Josie,Kwahe,19270919,name_dob_numident_records_4_42739
2118,899-02-6642,William,Henry,Schwalm,19880707,name_dob_numident_records_10_43054
2119,899-02-6642,William,Menry,Schwalm,19880707,name_dob_numident_records_10_43055
2004,899-02-8106,Rosie,Barbara,Mccarthy,19241111,name_dob_numident_records_29_42533
...,...,...,...,...,...,...
2027,899-97-2868,Sandra,Linda,Nation,19470324,name_dob_numident_records_36_42644
2044,899-98-1297,Jaime,Timothy,Powell,19586411,name_dob_numident_records_6_42735
2045,899-98-1297,Jaime,Timothy,Powell,19580411,name_dob_numident_records_6_42736
1878,899-99-3070,Keegan,Niko,Bible,20150117,name_dob_numident_records_30_42498
1879,899-99-3070,Keegan,Niko,Bible,20050117,name_dob_numident_records_30_42499

#### Incorporating people with ITINs

Individual Taxpayer Identification Numbers (ITINs) can be issued to people who are required to file
federal taxes but are not eligible for a Social Security Number.
The most common reason for this is being an undocumented immigrant and therefore not being authorized
to work in the United States.

People without SSNs used to be impossible to assign PIKs to.
In 2011 the NORC report stated (p. 38, footnote 19):

> NORC understands that the Census Bureau has undertaken an effort to enhance the PVS reference files with IRS
files that include Individual Taxpayer Identification Numbers (ITIN). For those people who are required to file a tax
return but do not have, and may not want an SSN—such as a non-U.S. citizen—the IRS issues the taxpayer an ITIN.
This enhancement to the PVS reference file may help to match more non-U.S citizens.

By 2014 (Wagner and Layne, p. 5):

> One of the key enhancements [made in recent years] increased the coverage of the reference files by
including records for persons with Individual Taxpayer Identification Numbers assigned
by the Internal Revenue Service (ITINs) to [along with?] the SSN-based Numident data. 

I have not found a specific description of how ITIN records are constructed in any of the
publicly-available sources.
This may be because it is straightforward, or because the tax data schema is confidential.
I assume that only IRS data is used, since no other data source that I am aware of would
report ITIN.

It is stated that the ITIN records are created directly from tax filings and not
from ITIN applications (Brown et al. p. 29, footnote 16), which is convenient
because the tax filing data is what we can simulate with
pseudopeople:

> The NUMIDENT provides the PII on the SSN-holder from the issuing agency (SSA), and that PII is used in SSN
verification. **For ITINs, the Census Bureau does not have access to the ITIN applications** to the issuing agency (IRS),
so name and DOB verification of ITINs is less reliable.

"Less reliable" is a bit confusing here, because as stated above when generating
the simulated tax data, IRS data should not contain date of birth at all.
Here, we have stayed true to this by omitting it entirely.

We assume that only 1040 filings would be used for this purpose; we wouldn't expect ITINs to
show up on employer-filed W-2/1099 forms.

In [60]:
# Analogous to the process of getting alternate names and dates of birth
# from SSA, we retain all versions of the name from taxes.
simulated_name_for_itins, simulated_name_for_itins_source_record_pairs = df_ops.persist(
    dedupe_preserving_source_records(
        simulated_taxes_1040_with_itins.rename(
            columns={"middle_initial": "middle_name"}
        ),
        simulated_taxes_1040_with_itins_source_record_pairs,
        columns_to_dedupe=["ssn", "first_name", "middle_name", "last_name"],
        new_record_id_prefix="simulated_name_for_itins",
    )
)
simulated_name_for_itins

Dask DataFrame Structure:
                   ssn first_name middle_name last_name record_id
npartitions=20
                string     string      string    string    string
                   ...        ...         ...       ...       ...
...                ...        ...         ...       ...       ...
                   ...        ...         ...       ...       ...
                   ...        ...         ...       ...       ...
Dask Name: to_pyarrow_string, 1 graph layer

In [61]:
df_ops.compute(
    df_ops.groupby_agg_small_groups(
        simulated_name_for_itins, by="ssn", agg_func=lambda x: x.size()
    ).describe()
)

count    59286.000000
mean         1.544344
std          0.649728
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max          5.000000
dtype: float64

In [62]:
# How many records in the simulated name/DOB numident are in the ITIN range?
# With normal pseudopeople settings, this shouldn't happen, because SSN in SSA is noiseless.
# If this number is >0, we may be adding ITIN records as more alternates to existing records.
df_ops.compute(simulated_name_dob_numident_records.ssn.str.startswith("9").sum())

0

In [63]:
(
    simulated_name_dob_reference_file,
    simulated_name_dob_reference_file_source_record_pairs,
) = df_ops.persist(
    concat_preserving_source_records(
        [simulated_name_dob_numident_records, simulated_name_for_itins],
        [
            simulated_name_dob_numident_records_source_record_pairs,
            simulated_name_for_itins_source_record_pairs,
        ],
        new_record_id_prefix="simulated_name_dob_reference_file",
    )
)
simulated_name_dob_reference_file

Dask DataFrame Structure:
                   ssn first_name middle_name last_name date_of_birth record_id
npartitions=60
                string     string      string    string        string    string
                   ...        ...         ...       ...           ...       ...
...                ...        ...         ...       ...           ...       ...
                   ...        ...         ...       ...           ...       ...
                   ...        ...         ...       ...           ...       ...
Dask Name: drop_by_shallow_copy, 1 graph layer

### GeoBase Reference File

Wagner and Layne, p. 9:

> PVS creates three other sets of reference
files containing Numident data: the **GeoBase Reference File**, the Name Reference File,
and the DOB Reference file.
The GeoBase Reference File appends addresses from administrative records attached
to Numident data, including all possible combinations of alternate names and dates of
birth for SSN. Addresses from administrative records are edited and processed through
commercial software product to clean and standardize address data. ITIN data is also
incorporated into the Geobase.

Luque and Wagner, p. 5:

> Reference files contain data from the Numident file enhanced with address
data obtained from federal AR [administrative records] files.<sup>8</sup>
The reference files, thus, contain all variants of a person’s name, DOB,
and sex, as well as current and recent addresses. These reference files are
referred to as the (PVS) Geobase reference file since addresses (a geographic component)
are appended to each person record.<sup>9</sup> It is important to note that there are
multiple Geobase reference files that are created depending on the vintage of the
incoming file to be processed through PVS.

> <sup>8</sup> Namely, data from the IRS, Department of Housing and Urban Development,
several files from the Department of Health and Human Services, and Selective Service.

> <sup>9</sup> In particular, the address data is cleaned and standardized and used
to construct a variable called GEOKEY. The GEOKEY variable is constructed as a subset
of the full address, and then is appended to the Numident data to create the
PVS Geobase Reference file.

We only have IRS data to use for addresses, and specifically only W-2/1099 data,
which is a limitation of this case study.
I can't find a concrete definition of "recent" -- as noted above, we use 5 years
of IRS data.
This may be longer than the true window, but this may end up making up for
the lack of non-IRS data sources, and get us closer to a realistic number of
alternate addresses.

Also, our address data comes out of pseudopeople already parsed into address parts
like street name, etc.
For more realism, pseudopeople should output a single string that we have to (imperfectly) parse apart.

I haven't been able to find out more about what kind of "subset" the geokey is.
It is unclear to me why geokey is "interesting" since it is just derived from the
address parts.

In [64]:
address_cols = [c for c in simulated_taxes.columns if "mailing_address" in c]


def standardize_address_part(column):
    return (
        column
        # Remove leading or trailing whitespace
        .str.strip()
        # Turn any strings of consecutive whitespace into a single space
        .str.replace("\s+", " ", regex=True)
        # Normalize case
        .str.upper()
        # Normalize the word street as described in the example quoted above
        # In reality, there would be many rules like this
        .str.replace("\b(STREET|STR)\b", "ST", regex=True)
        # Make sure missingness is represented consistently
        .replace("", numpy.nan)
    )


simulated_tax_addresses = (
    simulated_taxes
    # Can only link these to the other files if they have an SSN
    .dropna(subset=["ssn"])[["record_id", "ssn"] + address_cols]
    .assign(
        **{c: lambda df, c=c: standardize_address_part(df[c]) for c in address_cols}
    )
    .pipe(df_ops.ensure_large_string_capacity)
)

simulated_addresses_by_ssn, simulated_addresses_by_ssn_source_record_pairs = (
    df_ops.persist(
        dedupe_preserving_source_records(
            simulated_tax_addresses,
            simulated_taxes_source_record_pairs,
            columns_to_dedupe=["ssn"] + address_cols,
            new_record_id_prefix="addresses_by_ssn",
        )
    )
)
simulated_addresses_by_ssn

Dask DataFrame Structure:
                   ssn mailing_address_street_number mailing_address_street_name mailing_address_unit_number mailing_address_po_box mailing_address_city mailing_address_state mailing_address_zipcode record_id
npartitions=40
                string                        string                      string                      string                 string               string                string                  string    string
                   ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
...                ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
                   ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
                   ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
Dask Name: to_pyarrow_string, 1 graph layer

In [65]:
num_addresses = (
    df_ops.groupby_agg_small_groups(
        simulated_addresses_by_ssn, by="ssn", agg_func=lambda x: x.size()
    )
    .rename("size")
    .reset_index()
    .sort_values("size")
)
num_addresses

Dask DataFrame Structure:
                  ssn   size
npartitions=4
               string  int64
                  ...    ...
                  ...    ...
                  ...    ...
                  ...    ...
Dask Name: sort_values, 19 graph layers

In [66]:
# Show some SSNs with a lot of address variation
df_ops.compute(
    pd.merge(
        num_addresses.tail(10), simulated_addresses_by_ssn, on="ssn", how="inner"
    ).sort_values("ssn")
)

,ssn,size,mailing_address_street_number,mailing_address_street_name,mailing_address_unit_number,mailing_address_po_box,mailing_address_city,mailing_address_state,mailing_address_zipcode,record_id
0,047-05-0489,8,6000,CHESTNUT ST,FL 8 APT 2,<NA>,LINCOLN,RI,02840,addresses_by_ssn_21_3698
1,047-05-0489,8,6010,CHESTNUT ST,FL 8 APT 2,<NA>,LEINKOLEN,RI,02840,addresses_by_ssn_21_3699
2,047-05-0489,8,6010,CHESTNUT ST,FL 8 APT 2,<NA>,LINCOLN,RI,02945,addresses_by_ssn_21_3700
3,047-05-0489,8,6010,CHESTNUT ST,FL 8 APT 2,<NA>,<NA>,RI,02840,addresses_by_ssn_21_3701
4,047-05-0489,8,6010,CHESTNUT ST,FL 8 APT 2,<NA>,LINCOLN,RI,<NA>,addresses_by_ssn_21_3702
...,...,...,...,...,...,...,...,...,...,...
4,823-98-0574,9,2030,HIGHWAY 51,<NA>,<NA>,EAST PROVIDENCE,RI,02907,addresses_by_ssn_38_38878
5,823-98-0574,9,2030,HIGHWAY 21,<NA>,<NA>,EAST PROVIDENCE,HI,02907,addresses_by_ssn_38_38879
6,823-98-0574,9,2030,NIGHWAY 21,<NA>,<NA>,EAST PROVIDENCE,RI,02907,addresses_by_ssn_38_38880
7,823-98-0574,9,2030,HIGHWAY 21,<NA>,<NA>,EAST PROVIDNCE,RI,02907,addresses_by_ssn_38_38881
8,823-98-0574,9,2030,HIGHWAY 21,<NA>,<NA>,EAST PROVIDENCE,RI,02907,addresses_by_ssn_38_38882

In [67]:
# Rough estimate of how many rows we should have in our reference file, once we do this Cartesian product
df_ops.compute(
    len(simulated_name_dob_reference_file)
    * df_ops.groupby_agg_small_groups(
        simulated_addresses_by_ssn, by="ssn", agg_func=lambda x: x.size()
    ).mean()
)

2701200.435558905

In [68]:
(
    simulated_geobase_reference_file,
    simulated_geobase_reference_file_source_record_pairs,
) = df_ops.persist(
    merge_preserving_source_records(
        [simulated_name_dob_reference_file, simulated_addresses_by_ssn],
        [
            simulated_name_dob_reference_file_source_record_pairs,
            simulated_addresses_by_ssn_source_record_pairs,
        ],
        on=["ssn"],
        how="left",
        new_record_id_prefix="simulated_geobase_reference_file",
    )
)
simulated_geobase_reference_file

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    1.600000e+02
mean     7.891805e+06
std      3.666102e+06
min      4.944925e+06
25%      5.053460e+06
50%      5.093900e+06
75%      1.257599e+07
max      1.275461e+07
dtype: float64
Creating partitions of 126MB

Dask DataFrame Structure:
                   ssn first_name middle_name last_name date_of_birth mailing_address_street_number mailing_address_street_name mailing_address_unit_number mailing_address_po_box mailing_address_city mailing_address_state mailing_address_zipcode record_id
npartitions=60
                string     string      string    string        string                        string                      string                      string                 string               string                string                  string    string
                   ...        ...         ...       ...           ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
...                ...        ...         ...       ...           ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
                   ...        ...         ...       ...           ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
                   ...        ...         ...       ...           ...                           ...                         ...                         ...                    ...                  ...                   ...                     ...       ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [69]:
# Actual number of rows
len(simulated_geobase_reference_file)

2749623

## Track ground truth for reference files

In [70]:
def get_simulants_of_source_records(source_record_pairs, filter_record_ids=None):
    if filter_record_ids is not None:
        source_record_pairs = source_record_pairs.pipe(filter_record_ids)

    result = (
        df_ops.drop_duplicates(source_record_pairs)
        .merge(source_record_ground_truth, on="source_record_id")[
            ["record_id", "simulant_id"]
        ]
        .pipe(df_ops.drop_duplicates)
    )
    result = result.merge(
        df_ops.groupby_agg_small_groups(
            result,
            by="record_id",
            agg_func=lambda x: x.simulant_id.nunique().rename("n_unique_simulants"),
        ).reset_index(),
        on="record_id",
        how="left",
    )
    return result


def get_ground_truth_for_records(source_record_pairs):
    result = df_ops.persist(get_simulants_of_source_records(source_record_pairs))

    result_nunique_describe = df_ops.compute(result["n_unique_simulants"].describe())

    if numpy.isclose(result_nunique_describe.loc["max"], 1):
        print("No collisions")
        return result

    print("Collisions:")
    display(result_nunique_describe)

    print("Simulated tax records with the most collisions:")
    most_collisions_record_id = (
        result.sort_values("n_unique_simulants", ascending=False)
        .head(1)
        .record_id.iloc[0]
    )
    most_collisions_source_record_ids = df_ops.persist(
        df_ops.drop_duplicates(
            source_record_pairs[
                source_record_pairs.record_id == most_collisions_record_id
            ][["source_record_id"]]
        )
    )
    most_collisions_tax_filings = (
        most_collisions_source_record_ids.merge(
            df_ops.drop_duplicates(
                simulated_taxes_source_record_pairs[["record_id", "source_record_id"]]
            ),
            on="source_record_id",
            how="inner",
        )
        .merge(simulated_taxes, on="record_id", how="left")
        .merge(source_record_ground_truth, on="source_record_id", how="left")
    )
    display(df_ops.compute(most_collisions_tax_filings))

    print("Simulated SSA records with the most collisions:")
    display(
        df_ops.compute(
            most_collisions_source_record_ids.merge(
                simulated_ssa_numident.rename(
                    columns={"record_id": "source_record_id"}
                ),
                on="source_record_id",
                how="inner",
            ).merge(source_record_ground_truth, on="source_record_id", how="left")
        )
    )

    return result

### Simulated Census Numident

In [71]:
len(simulated_census_numident_source_record_pairs)

3463954

In [72]:
simulated_census_numident_ground_truth = get_ground_truth_for_records(
    simulated_census_numident_source_record_pairs
)

No collisions

In [73]:
simulated_census_numident_ground_truth

Dask DataFrame Structure:
               record_id simulant_id n_unique_simulants
npartitions=80
                  string      string              int64
                     ...         ...                ...
...                  ...         ...                ...
                     ...         ...                ...
                     ...         ...                ...
Dask Name: hash-join, 1 graph layer

### Simulated Alternate Name Numident

In [74]:
len(simulated_alternate_name_numident_source_record_pairs)

1798871

In [75]:
simulated_alternate_name_numident_ground_truth = get_ground_truth_for_records(
    simulated_alternate_name_numident_source_record_pairs
)

No collisions

In [76]:
simulated_alternate_name_numident_ground_truth

Dask DataFrame Structure:
                record_id simulant_id n_unique_simulants
npartitions=160
                   string      string              int64
                      ...         ...                ...
...                   ...         ...                ...
                      ...         ...                ...
                      ...         ...                ...
Dask Name: hash-join, 1 graph layer

### Alternate DOB Numident

In [77]:
len(simulated_alternate_dob_numident_source_record_pairs)

1798871

In [78]:
simulated_alternate_dob_numident_ground_truth = get_ground_truth_for_records(
    simulated_alternate_dob_numident_source_record_pairs
)

No collisions

In [79]:
simulated_alternate_dob_numident_ground_truth

Dask DataFrame Structure:
                record_id simulant_id n_unique_simulants
npartitions=160
                   string      string              int64
                      ...         ...                ...
...                   ...         ...                ...
                      ...         ...                ...
                      ...         ...                ...
Dask Name: hash-join, 1 graph layer

### Simulated Name/DOB Reference File

In [80]:
len(simulated_name_dob_reference_file_source_record_pairs)

3821920

In [81]:
simulated_name_dob_reference_file_ground_truth = get_ground_truth_for_records(
    simulated_name_dob_reference_file_source_record_pairs
)

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    4.000000e+02
mean     3.084619e+05
std      4.736308e+05
min      0.000000e+00
25%      0.000000e+00
50%      5.101000e+03
75%      4.137805e+05
max      2.050778e+06
dtype: float64
Creating partitions of 100MB

No collisions

In [82]:
simulated_name_dob_reference_file_ground_truth

Dask DataFrame Structure:
              record_id simulant_id n_unique_simulants
npartitions=2
                 string      string              int64
                    ...         ...                ...
                    ...         ...                ...
Dask Name: hash-join, 1 graph layer

### Simulated GeoBase Reference File

In [83]:
len(simulated_geobase_reference_file_source_record_pairs)

15126499

In [84]:
simulated_geobase_reference_file_ground_truth = get_ground_truth_for_records(
    simulated_geobase_reference_file_source_record_pairs
)

Collisions:

count    2.881093e+06
mean     1.095846e+00
std      3.181319e-01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      6.000000e+00
Name: n_unique_simulants, dtype: float64

Simulated tax records with the most collisions:

,source_record_id,record_id,ssn,first_name,middle_initial,last_name,mailing_address_street_number,mailing_address_street_name,mailing_address_unit_number,mailing_address_po_box,mailing_address_city,mailing_address_state,mailing_address_zipcode,simulant_id
0,simulated_w2_1099_8_517166,simulated_taxes_18_517166,450-57-3200,Dillon,A,Stinnett,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_76318
1,simulated_w2_1099_2_514157,simulated_taxes_12_514157,450-57-3200,Kaitlyn,A,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515490
0,simulated_w2_1099_4_514591,simulated_taxes_14_514591,450-57-3200,Larry,A,Rodriguez,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515489
1,simulated_w2_1099_0_512475,simulated_taxes_10_512475,450-57-3200,Kaitlyn,A,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515490
0,simulated_w2_1099_2_514158,simulated_taxes_12_514158,450-57-3200,Kaitlyn,A,Rodriguez,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515490
0,simulated_w2_1099_6_515976,simulated_taxes_16_515976,450-57-3200,Dillon,A,Stinnett,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_76318
0,simulated_w2_1099_6_515975,simulated_taxes_16_515975,450-57-3200,<NA>,A,Stin,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_76318
1,simulated_1040_8_391068,simulated_taxes_8_391068,450-57-3200,Makayla,N,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515491
0,simulated_1040_4_376433,simulated_taxes_4_376433,450-57-3200,Makayla,N,Rodriguez,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515491
0,simulated_w2_1099_0_512473,simulated_taxes_10_512473,450-57-3200,D,Rodriguez,Scott,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515488
0,simulated_w2_1099_4_514590,simulated_taxes_14_514590,450-57-3200,Scott,D,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515488
0,simulated_w2_1099_6_517269,simulated_taxes_16_517269,450-57-3200,Larry,A,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515489
0,simulated_w2_1099_2_514156,simulated_taxes_12_514156,450-57-3200,Larry,A,Rodriguez,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515489
0,simulated_1040_6_384398,simulated_taxes_6_384398,450-57-3200,Makayla,<NA>,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515491
0,simulated_w2_1099_2_514155,simulated_taxes_12_514155,450-57-3200,Scott,D,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515488
0,simulated_w2_1099_8_518362,simulated_taxes_18_518362,450-57-3200,Larry,A,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515489
0,simulated_w2_1099_8_517167,simulated_taxes_18_517167,450-57-3200,Dillon,A,Stinnett,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_76318
1,simulated_w2_1099_6_517268,simulated_taxes_16_517268,450-57-3200,Scott,D,Rodriguez,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515488
2,simulated_w2_1099_8_518363,simulated_taxes_18_518363,450-57-3200,Jacob,Q,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515492
0,simulated_1040_0_361600,simulated_taxes_0_361600,450-57-3200,Makayla,N,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515491
0,simulated_w2_1099_8_518361,simulated_taxes_18_518361,450-57-3200,Scott,<NA>,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515488
1,simulated_w2_1099_0_512474,simulated_taxes_10_512474,450-57-3200,Larry,A,Rodr,5,paden dr,<NA>,<NA>,scituate,RI,02906,4743_515489

Simulated SSA records with the most collisions:

,source_record_id,ssn,first_name,middle_name,last_name,date_of_birth,sex,event_type,event_date,simulant_id
0,simulated_ssa_numident_18_43149,450-57-3200,Makayla,Nora,Rodriguez,20120301,Female,creation,20120301,4743_515491

In [85]:
simulated_geobase_reference_file_ground_truth

Dask DataFrame Structure:
               record_id simulant_id n_unique_simulants
npartitions=80
                  string      string              int64
                     ...         ...                ...
...                  ...         ...                ...
                     ...         ...                ...
                     ...         ...                ...
Dask Name: hash-join, 1 graph layer

In [86]:
%xdel simulated_taxes
%xdel simulated_taxes_source_record_pairs

### Get ground truth by SSN

In [87]:
simulated_ssn_simulant_pairs = df_ops.persist(
    df_ops.concat(
        [
            simulated_census_numident[["record_id", "ssn"]].merge(
                simulated_census_numident_ground_truth, on="record_id"
            ),
            simulated_alternate_name_numident[["record_id", "ssn"]].merge(
                simulated_alternate_name_numident_ground_truth, on="record_id"
            ),
            simulated_alternate_dob_numident[["record_id", "ssn"]].merge(
                simulated_alternate_dob_numident_ground_truth, on="record_id"
            ),
            simulated_name_dob_reference_file[["record_id", "ssn"]].merge(
                simulated_name_dob_reference_file_ground_truth, on="record_id"
            ),
            simulated_geobase_reference_file[["record_id", "ssn"]].merge(
                simulated_geobase_reference_file_ground_truth, on="record_id"
            ),
        ]
    )[["ssn", "simulant_id"]].pipe(df_ops.drop_duplicates)
)
simulated_ssn_simulant_pairs

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    5.400000e+02
mean     1.723746e+06
std      1.158941e+06
min      1.240000e+02
25%      1.005528e+06
50%      1.024880e+06
75%      1.842025e+06
max      4.486600e+06
dtype: float64
Creating partitions of 100MB

Dask DataFrame Structure:
                   ssn simulant_id
npartitions=20
                string      string
                   ...         ...
...                ...         ...
                   ...         ...
                   ...         ...
Dask Name: concat, 1 graph layer

In [88]:
# How many simulated SSNs have different simulant IDs
# contributing to them?
df_ops.compute(
    (
        df_ops.groupby_agg_small_groups(
            simulated_ssn_simulant_pairs,
            by="ssn",
            agg_func=lambda x: x.simulant_id.nunique(),
        )
        > 1
    ).sum()
)

110281

## Save results

In [89]:
files = {
    "simulated_census_numident": (
        simulated_census_numident,
        simulated_census_numident_ground_truth,
    ),
    "simulated_alternate_name_numident": (
        simulated_alternate_name_numident,
        simulated_alternate_name_numident_ground_truth,
    ),
    "simulated_alternate_dob_numident": (
        simulated_alternate_dob_numident,
        simulated_alternate_dob_numident_ground_truth,
    ),
    "simulated_geobase_reference_file": (
        simulated_geobase_reference_file,
        simulated_geobase_reference_file_ground_truth,
    ),
    "simulated_name_dob_reference_file": (
        simulated_name_dob_reference_file,
        simulated_name_dob_reference_file_ground_truth,
    ),
}

In [90]:
simulated_reference_files = [
    simulated_census_numident,
    simulated_alternate_name_numident,
    simulated_alternate_dob_numident,
    simulated_geobase_reference_file,
    simulated_name_dob_reference_file,
]
# TODO: Rename the ssn column to explicitly include itins, since this is confusing
simulated_all_ssns_itins_in_reference_files = df_ops.concat(
    [df[["ssn"]] for df in simulated_reference_files], ignore_index=True
)
simulated_ssn_to_pik = simulated_all_ssns_itins_in_reference_files.pipe(
    df_ops.drop_duplicates
).pipe(add_unique_id_col, col_name="pik")[["ssn", "pik"]]
simulated_ssn_to_pik

Imbalanced dataframe: too_few=False, too_many=True, too_large=False
count    2.400000e+02
mean     7.631579e+05
std      6.226266e+05
min      0.000000e+00
25%      2.840128e+05
50%      8.102690e+05
75%      8.708802e+05
max      3.497021e+06
dtype: float64
Creating partitions of 100MB

Dask DataFrame Structure:
                  ssn     pik
npartitions=4
               string  string
                  ...     ...
                  ...     ...
                  ...     ...
                  ...     ...
Dask Name: getitem, 6 graph layers

In [91]:
simulated_pik_simulant_pairs = simulated_ssn_simulant_pairs.merge(
    simulated_ssn_to_pik, on="ssn", how="inner"
)[["pik", "simulant_id"]]
simulated_pik_simulant_pairs

Dask DataFrame Structure:
                   pik simulant_id
npartitions=20
                string      string
                   ...         ...
...                ...         ...
                   ...         ...
                   ...         ...
Dask Name: getitem, 15 graph layers

In [92]:
%xdel simulated_ssn_simulant_pairs

In [93]:
for file_name, (file, ground_truth) in files.items():
    file = df_ops.persist(file.merge(simulated_ssn_to_pik, on="ssn", how="left"))
    assert df_ops.compute(file.pik.notnull().all())

    save_file_with_ground_truth(file_name, file, ground_truth)

In [94]:
simulated_pik_simulant_pairs_path = (
    f"{output_dir}/{data_to_use}/simulated_pik_simulant_pairs.parquet"
)
utils.remove_path(simulated_pik_simulant_pairs_path)
simulated_pik_simulant_pairs.to_parquet(simulated_pik_simulant_pairs_path)

In [95]:
print(datetime.datetime.now())

2024-05-15 23:16:00.139061