# Generate simulated data to link

In this case study, we imagine running a person linkage on a simulated 2030 Census Unedited File (CUF) --
see the main notebook for more details, including references used throughout this notebook.
This notebook creates simulated input (CUF) and reference files approximating what would be used in such a process,
emulating the methods found in publicly available descriptions of the Census Bureau's primary person linkage system, PVS.

In [1]:
import pseudopeople as psp
import os
import logging
import warnings
import os
import shutil
from pathlib import Path
# Importing pandas for access, regardless of whether we are using it as the compute engine
import pandas
import numpy

In [2]:
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# DO NOT EDIT if this notebook is not called generate_simulated_data_small_sample.ipynb!
# This notebook is designed to be run with papermill; this cell is tagged 'parameters'
# If running with the default parameters, you can overwrite this notebook; otherwise,
# save it to another filename.
# TODO: Rename the notebook to omit 'small_sample' in the filename and omit all outputs
# from the 'canonical version'
data_to_use = 'small_sample'
output_dir = 'output'
compute_engine = 'pandas'
num_jobs = 10
cpus_per_job = 2
memory_per_job = "10GB"

In [4]:
! date

Tue Nov 21 02:51:30 PM PST 2023

In [5]:
psp.__version__

'0.8.3.dev6+g31db93a'

In [6]:
def start_dask_distributed_over_slurm():
    import dask
    # Make Dask much less conservative with memory management: don't start spilling
    # until over 85%, don't kill until basically at memory limit
    # (I don't much mind whether Dask or slurm kills a worker)
    # We want to avoid spilling if at all possible, since it uses a resource
    # (local disk space) which is unpredictably allocated and running out of
    # it can cause the whole computation to fail
    dask.config.set({"distributed.worker.memory.target": False})
    dask.config.set({"distributed.worker.memory.spill": 0.85})
    dask.config.set({"distributed.worker.memory.pause": 0.85})
    dask.config.set({"distributed.worker.memory.terminate": 0.975})

    from dask_jobqueue import SLURMCluster

    cluster = SLURMCluster(
        queue='long.q',
        account="proj_simscience",
        # If you give dask workers more than one core, they will use it to
        # run more tasks at once, which can use more memory than is available.
        # To have more than one thread per worker but use them all for
        # multi-threading code in one task
        # at a time, you have to set cores=1, processes=1 and job_cpu > 1.
        cores=1,
        processes=1,
        memory=memory_per_job,
        walltime="10-00:00:00",
        # Dask distributed looks at OS-reported memory to decide whether a worker is running out.
        # If the memory allocator is not returning the memory to the OS promptly (even when holding onto it
        # is smart), it will lead Dask to make bad decisions.
        # By default, pyarrow uses jemalloc, but I could not get that to release memory quickly.
        # Even this doesn't seem to be completely working, but in combination with small-ish partitions
        # it seems to do okay -- unmanaged memory does seem to shrink from time to time, which it wasn't
        # previously doing.
        job_script_prologue="export ARROW_DEFAULT_MEMORY_POOL=system\nexport MALLOC_TRIM_THRESHOLD_=0",
        job_cpu=cpus_per_job,
        # NOTE: This is, as Dask requests, a directory local to the compute node.
        # But IHME's cluster doesn't support this very well -- it can be small-ish,
        # full of stuff from other users, etc.
        local_directory=f"/tmp/{os.environ['USER']}_dask_generate_simulated_data",
        # NOTE: Network file system -- probably slow and doing a lot of unnecessary I/O!
        # local_directory=f"/ihme/scratch/users/{os.environ['USER']}/dask_work_dir/dask_generate_simulated_data",
        # HACK: Avoid nodes with /tmp too full (as of 11/17/2023)
        job_extra_directives=["-x long-slurm-sarchive-p00[53-59]"],
        log_directory=f"/ihme/temp/slurmoutput/{os.environ['USER']}",
    )

    cluster.scale(n=num_jobs)
    # Supposedly, this will start new jobs if the existing
    # ones fail for some reason.
    # https://stackoverflow.com/a/61295019
    cluster.adapt(minimum_jobs=num_jobs, maximum_jobs=num_jobs)

    from distributed import Client
    client = Client(cluster)

    client.wait_for_workers(n_workers=num_jobs)

    return cluster, client

if compute_engine == 'pandas':
    import pandas as pd
elif compute_engine == 'dask':
    # import dask
    # HACK: Use Python instead of pyarrow strings; this will usually be much slower and
    # require more memory, but pyarrow string columns have a 2GB max
    # Worked around this using large_strings in pyarrow instead
    # dask.config.set({"dataframe.convert-string": False})

    cluster, client = start_dask_distributed_over_slurm()

    import dask.dataframe as pd

    display(client)
elif compute_engine.startswith('modin'):
    if compute_engine.startswith('modin_dask_'):
        import modin.config as modin_cfg
        modin_cfg.Engine.put("dask") # Use dask instead of ray (which is the default)

        if compute_engine == 'modin_dask_distributed':
            cluster, client = start_dask_distributed_over_slurm()
        else:
            from distributed import Client
            cpus_available = int(os.environ['SLURM_CPUS_ON_NODE'])
            client = Client(n_workers=int(cpus_available / 2), threads_per_worker=2)

        # Why is this necessary?!
        # For some reason, if I don't set NPartitions, it seems to default to 0?!
        num_row_groups = 1 if data_to_use == 'small_sample' else 334
        modin_cfg.NPartitions.put(min(num_jobs * 5, num_row_groups))
        modin_cfg.MinPartitionSize.put(1_000) # ensure no column-axis partitions -- they'll need to be joined up right away anyway by our row-wise noising

        display(client)
    elif compute_engine == 'modin_ray':
        # Haven't worked on distributing this across multiple nodes
        import ray
        ray.init(runtime_env={'env_vars': {'__MODIN_AUTOIMPORT_PANDAS__': '1'}}, num_cpus=int(os.environ['SLURM_CPUS_ON_NODE']))
    else:
        # Use serial Python backend (good for debugging errors)
        import modin.config as modin_cfg
        modin_cfg.IsDebug.put(True)

    import modin.pandas as pd

    # https://modin.readthedocs.io/en/stable/usage_guide/advanced_usage/progress_bar.html
    from modin.config import ProgressBar
    ProgressBar.enable()

In [7]:
# Helpers for dealing with lazy evaluation -- Dask doesn't actually compute
# anything until you explicitly tell it to, while Pandas and Modin are eager

def persist(*args):
    if compute_engine == 'dask':
        if len(args) == 1:
            return client.persist(args[0])

        return client.persist(args)
    else:
        # Eagerly computed already
        if len(args) == 1:
            return args[0]

        return args

def compute(obj):
    if compute_engine == 'dask':
        return obj.compute()
    else:
        # Eagerly computed already
        return obj

In [8]:
# DataFrame operations that need to be done in specific ways for Dask

def drop_duplicates(df, subset=None, sort_col=None, keep='last'):
    original_columns = list(df.columns)

    if subset is None:
        subset = original_columns.copy()
    elif isinstance(subset, str):
        subset = [subset]
    else:
        subset = list(subset)

    if sort_col is not None:
        df = df.sort_values(sort_col)

    if compute_engine == 'pandas' or compute_engine.startswith('modin'):
        return df.drop_duplicates(subset=subset, keep=keep)
    elif compute_engine == 'dask':
        # NOTE: This approach depends crucially on https://github.com/dask/dask/issues/8437, as described in
        # https://github.com/dask/dask/issues/8437#issuecomment-983440465
        index_before = None
        if df.index.name is not None:
            index_before = df.index.name
            df = df.reset_index()

        if len(subset) == 1:
            # Cannot set_index with a column that contains any null values. Any rows that have nulls in any of subset
            # are by definition not duplicates.
            temp_index = subset[0]
            df = concat_avoid_fragmentation([
                df[df[temp_index].isnull()],
                df[df[temp_index].notnull()].set_index(temp_index).map_partitions(lambda x: x[~x.index.duplicated(keep=keep)]).reset_index(),
            ], ignore_index=True)
        else:
            # NOTE: This means it is best to put a high-cardinality column as the first item of subset
            temp_index = subset[0]
            # Cannot set_index with a column that contains any null values. Any rows that have nulls in any of subset
            # are by definition not duplicates.
            df = concat_avoid_fragmentation([
                df[df[temp_index].isnull()],
                df[df[temp_index].notnull()].set_index(temp_index).map_partitions(lambda x: x.reset_index().drop_duplicates(subset=subset, keep=keep).set_index(temp_index)).reset_index(),
            ], ignore_index=True)

        if index_before is None:
            return df
        else:
            return df.set_index(index_before, sort=False)
        # NOTE: The following is another approach I tried. It turns out that Dask groupbys don't work the way
        # you might expect for small groups, which is described more in groupby_agg_small_groups.
        # But even after working around that, it turned out to be much simpler to use the index-based approach above.
#     elif compute_engine == 'dask':
#         if sort_col is None:
#             df = df.assign(dummy_for_cumsum=1).assign(drop_duplicates_unique_id=lambda df: df.dummy_for_cumsum.cumsum()).drop(columns=['dummy_for_cumsum'])
#             sort_col = 'drop_duplicates_unique_id'

#         if keep == 'last':
#             to_keep = df.groupby(subset, dropna=False)[sort_col].max()
#         elif keep == 'first':
#             to_keep = df.groupby(subset, dropna=False)[sort_col].min()
#         else:
#             raise ValueError()

#         result = df.merge(to_keep.to_frame(), on=(subset + [sort_col]), how='inner')[original_columns]

#         if sort_col == 'drop_duplicates_unique_id':
#             return result
#         else:
#             # No guarantee of uniqueness
#             return drop_duplicates(result, subset=(subset + [sort_col]), keep='last')
    else:
        raise ValueError()

# NOTE: Dask groupbys don't work the way you might expect for small groups.
# In our application, when we groupby, we are usually grouping by a column (set)
# with very high cardinality -- almost as many groups as we have rows.
# Dask's agg function tries to create a data structure that is O(N) with the number of
# groups on a single node, which OOMs in this situation.
# Instead, we take advantage of https://github.com/dask/dask/issues/8437 again to turn
# this into a P2P shuffle operation that never holds any substantial amount of the data
# in any one place.
# NOTE: This may be roughly the same thing as split_out=npartitions, see https://github.com/dask/dask/issues/8001,
# but it shouldn't be any slower and I didn't know about split_out until after writing this
def groupby_agg_small_groups(df, by, agg_func):
    if compute_engine == 'pandas' or compute_engine.startswith('modin'):
        return agg_func(df.groupby(by))
    elif compute_engine == 'dask':
        if isinstance(by, str):
            by = [by]
        else:
            by = list(by)

        index_before = None
        if df.index.name is not None:
            index_before = df.index.name
            df = df.reset_index()

        # NOTE: This means it is best to put a high-cardinality column as the first item of by
        temp_index = by[0]

        # Cannot set_index with a column that contains any null values. Any rows that have nulls in any of subset
        # are not put into any group, like the default pandas behavior
        return df[df[temp_index].notnull()].set_index(temp_index).map_partitions(lambda x: agg_func(x.reset_index().groupby(by)))
    else:
        raise ValueError()

def concat_avoid_fragmentation(*args, **kwargs):
    result = pd.concat(*args, **kwargs)

    if compute_engine == 'dask' and result.npartitions > (num_jobs * 20):
        # By default, a Dask concat operation of A and B will lead to
        # a result with A.npartitions + B.npartitions partitions.
        # We do several operations that look like
        # df = concat([transformation_1(df), transformation_2(df)])
        # which doubles the number of partitions.
        # If we don't repartition, this doubling leads to a partition explosion,
        # which scales scheduler overhead and the memory size of the task graph.
        result = result.repartition(npartitions=(num_jobs * 5))

    return result

In [9]:
# NOTE: By default, Dask uses PyArrow string dtypes, not Python ones.
# This is great, because they are faster to work with, more memory efficient, and
# (crucially) nullable -- all of our string columns can be missing, which we represent
# in NumPy land with NaN, but that is finicky with Parquet.
# Unfortunately, the default PyArrow string dtype has a limit of 2GB of data per
# PyArrow "chunk," and although PyArrow chunks are supposed to work invisibly to the
# user, there are a number of bugs in PyArrow that cause common operations to try to
# switch an entire array to be a single chunk.
# See https://github.com/dask/dask/issues/10139#issuecomment-1812817180 for more on this.
# Due to these issues, we were running into the 2GB limit.
# PyArrow has a "large_string" dtype that has effectively no limit on size (64 bit instead
# of 32 bit offset).
# Dask lets us use this dtype, so long as we use it for *all* strings (due to a bug in Dask,
# see https://github.com/dask/dask/issues/10139#issuecomment-1812969372).

# Based on https://github.com/dask/dask/blob/b2f11d026d2c6f806036c050ff5dbd59d6ceb6ec/dask/dataframe/_pyarrow.py#L64-L98
# and code referenced from there
import pyarrow as pa

def is_pyarrow_string_dtype(dtype):
    """Is the input dtype a pyarrow string?"""

    pa_string_types = [pandas.StringDtype("pyarrow"), pandas.ArrowDtype(pa.string()), pandas.ArrowDtype(pa.large_string())]
    return dtype in pa_string_types

def is_pyarrow_string_index(x):
    if isinstance(x, pandas.MultiIndex):
        return any(is_pyarrow_string_index(level) for level in x.levels)
    return isinstance(x, pandas.Index) and is_pyarrow_string_dtype(x.dtype)

def to_pyarrow_large_string(df):
    string_dtype = pandas.ArrowDtype(pa.large_string())

    # Possibly convert DataFrame/Series/Index to string_dtype
    dtypes = None
    if isinstance(df, pandas.DataFrame):
        dtypes = {
            col: string_dtype for col, dtype in df.dtypes.items() if is_pyarrow_string_dtype(dtype)
        }
    elif dtype_check(df.dtype):
        dtypes = string_dtype

    if dtypes:
        df = df.astype(dtypes, copy=False)

    # Convert DataFrame/Series index too
    if is_pyarrow_string_index(df.index):
        if isinstance(df.index, pandas.MultiIndex):
            levels = {
                i: level.astype(string_dtype)
                for i, level in enumerate(df.index.levels)
                if is_pyarrow_string_dtype(level.dtype)
            }
            # set verify_integrity=False to preserve index codes
            df.index = df.index.set_levels(
                levels.values(), level=levels.keys(), verify_integrity=False
            )
        else:
            df.index = df.index.astype(string_dtype)
    return df

def increase_string_capacity(df):
    if compute_engine != 'dask':
        # Not using pyarrow strings by default
        return df

    return df.map_partitions(
        # NOTE: In Dask they use enforce_metadata=False
        to_pyarrow_large_string, token="to_pyarrow_large_string"
    )

In [10]:
def remove_path(path):
    path = Path(path)
    if path.is_file():
        os.remove(path)
    elif path.exists():
        shutil.rmtree(path)

def save_file_with_ground_truth(file_name, file, ground_truth):
    # Check that file and ground truth have the same records
    assert (
        # record_id is unique
        len(file) ==
        len(drop_duplicates(file[['record_id']]))
    )
    assert (
        len(ground_truth) ==
        len(file[['record_id']].merge(ground_truth[['record_id']], on='record_id', how='inner'))
    )

    file_path = f'{output_dir}/{data_to_use}/{file_name}.parquet'
    remove_path(file_path)
    file.to_parquet(file_path)

    ground_truth_path = f'{output_dir}/{data_to_use}/{file_name}_ground_truth.parquet'
    remove_path(ground_truth_path)
    ground_truth.to_parquet(ground_truth_path)

## Load pseudopeople simulated datasets

### Record ID tracking (data lineage)

We do a little bit of work here to enable tracking the "ground truth" (the simulant IDs from
pseudopeople).
We give each pseudopeople record/row a unique identifier for tracking, and then we immediately
separate the ground truth information (which we would not have if we were using real data)
from the rest of the columns (which we would have).
The ground truth is only used in the specific "ground truth" section of this notebook,
to help avoid accidentally leaking information into the case study.

Since we also combine/aggregate pseudopeople records as part of the process of generating the
simulated reference files, ground truth is a bit more complicated than you might imagine.
For example, the ground truth may tell us that a single row in a reference file is actually
a composite of several individuals, because even the deterministic linkage (by SSN) we use
here is not without error.

We handle this by tracking *all* source records used in the construction of each record in
our reference files.
This is achieved by having a table mapping composite record IDs to the "source record IDs"
(IDs of records that were directly generated by pseudopeople).
When we aggregate records, this is combined accordingly.

In [11]:
def add_unique_id_col(df, col_name='unique_id', value_prefix=''):
    if compute_engine == 'pandas' or compute_engine.startswith('modin'):
        return df.reset_index().rename(columns={'index': col_name}).assign(**{col_name: lambda df: value_prefix + df[col_name].astype(str)})
    elif compute_engine == 'dask':
        # Can use cumsum as in https://stackoverflow.com/a/60852409/ if it needs
        # to be incrementing, but we just need uniqueness

        def add_id_to_partition(df_part, partition_info=None):
            return (
                df_part
                    .assign(**{col_name: range(len(df_part))})
                    .assign(**{col_name: lambda x: (
                            value_prefix +
                            str(partition_info['number'] if partition_info is not None else 0) +
                            '_' +
                            x[col_name].astype(str)
                        ).astype('large_string[pyarrow]')}
                    )
            )

        df = df.map_partitions(add_id_to_partition)

        return df
    else:
        raise ValueError()

def add_unique_record_id(df, dataset_name):
    return add_unique_id_col(df, col_name='record_id', value_prefix=f'{dataset_name}_')

# Initializes a table listing the pairs between record_ids and source record_ids.
# Should only be called on "source records"; that is, records that
# come directly out of pseudopeople.
def record_id_to_single_source_record_pairs(df, source_col='record_id'):
    if source_col == 'record_id':
        # We can't have duplicate column names, so we make a new column
        # literally called 'source_col'
        df = df.assign(source_col=lambda df: df[source_col])
        source_col = 'source_col'

    return df[['record_id', source_col]].rename(columns={source_col: 'source_record_id'})

In [12]:
# Operations that aggregate records, combining the source record pairs
# between all records that are aggregated

def merge_preserving_source_records(dfs, source_record_pairings, new_record_id_prefix, *args, **kwargs):
    assert len(dfs) == len(source_record_pairings)
    for df in dfs:
        assert 'record_id' in df.columns

    on = kwargs.get('on', None)
    if on is not None:
        # If there are nulls in any of the merge columns, they can't match to anything
        dfs = [df.dropna(subset=on, how='any') for df in dfs]

    result = dfs[0]
    source_record_pairs = source_record_pairings[0]
    dfs_and_source_record_pairs_to_combine = list(zip(dfs[1:], source_record_pairings[1:]))
    for index, (df_to_merge, source_record_pairs_to_merge) in enumerate(dfs_and_source_record_pairs_to_combine):
        result = (
            result.merge(df_to_merge, *args, **kwargs)
        )
        if index == len(dfs_and_source_record_pairs_to_combine) - 1:
            # Since this is the last step, these are the record_ids that will actually be returned
            accumulate_step_record_id_prefix = new_record_id_prefix
        else:
            # A dummy intermediate -- this shouldn't be exposed to the user
            accumulate_step_record_id_prefix = f'merge_iter_{index}'

        result = add_unique_record_id(result, accumulate_step_record_id_prefix)
        source_record_pairs = concat_avoid_fragmentation([
            # The pairs that were already in result
            source_record_pairs
                .rename(columns={'record_id': 'record_id_x'})
                .merge(result[['record_id', 'record_id_x']], on='record_id_x')
                .drop(columns=['record_id_x']),
            # The new ones
            source_record_pairs_to_merge
                .rename(columns={'record_id': 'record_id_y'})
                .merge(result[['record_id', 'record_id_y']], on='record_id_y')
                .drop(columns=['record_id_y']),
        ])
        result = result.drop(columns=['record_id_x', 'record_id_y'])

    return result, source_record_pairs


def dedupe_preserving_source_records(df, source_record_pairs, columns_to_dedupe, new_record_id_prefix):#, source_records_col='source_record_ids'):
    result = drop_duplicates(df[columns_to_dedupe])
    result = add_unique_record_id(result, new_record_id_prefix)
    df_to_result_mapping = (
        df[['record_id'] + columns_to_dedupe]
            .rename(columns={'record_id': 'record_id_pre_dedupe'})
            .merge(result, on=columns_to_dedupe)
            [['record_id', 'record_id_pre_dedupe']]
    )
    result_source_record_pairs = (
        source_record_pairs
            .rename(columns={'record_id': 'record_id_pre_dedupe'})
            .merge(df_to_result_mapping, on='record_id_pre_dedupe')
            .drop(columns=['record_id_pre_dedupe'])
    )
    return result, result_source_record_pairs


def concat_preserving_source_records(dfs, source_record_pairings, new_record_id_prefix):
    dfs = [df.rename(columns={'record_id': 'record_id_pre_concat'}) for df in dfs]
    result = concat_avoid_fragmentation(dfs, ignore_index=True)
    result = add_unique_record_id(result, new_record_id_prefix)

    record_id_mapping = (
        result[['record_id', 'record_id_pre_concat']]
    )
    validate_kwarg = {
        'validate': 'm:1',
    } if compute_engine != 'dask' else {} # Dask doesn't support validate

    all_source_record_pairings = persist(concat_avoid_fragmentation(source_record_pairings, ignore_index=False))
    result_source_record_pairs = persist(
        all_source_record_pairings
            .rename(columns={'record_id': 'record_id_pre_concat'})
            .merge(record_id_mapping, on='record_id_pre_concat', **validate_kwarg)
            .drop(columns=['record_id_pre_concat'])
    )

    if compute_engine == 'dask':
        # Manual alternative to the 'validate' kwarg
        assert len(result_source_record_pairs) == len(all_source_record_pairings)

    return result.drop(columns=['record_id_pre_concat']), result_source_record_pairs

### Simulated SSA Numident

In [13]:
%%time

simulated_ssa_numident = pd.read_parquet(f'{output_dir}/{data_to_use}/pseudopeople_simulated_datasets/simulated_ssa_numident.parquet')
simulated_ssa_numident = increase_string_capacity(simulated_ssa_numident)
simulated_ssa_numident = add_unique_record_id(simulated_ssa_numident, 'simulated_ssa_numident')
simulated_ssa_numident = persist(simulated_ssa_numident)
simulated_ssa_numident_source_record_pairs = persist(record_id_to_single_source_record_pairs(simulated_ssa_numident))

CPU times: user 154 ms, sys: 15.9 ms, total: 170 ms
Wall time: 179 ms

In [14]:
simulated_ssa_numident_ground_truth = simulated_ssa_numident[['record_id', 'simulant_id']]
simulated_ssa_numident = simulated_ssa_numident.drop(columns=['simulant_id'])
simulated_ssa_numident, simulated_ssa_numident_ground_truth = persist(simulated_ssa_numident, simulated_ssa_numident_ground_truth)
simulated_ssa_numident

Dask DataFrame Structure:
                                 ssn             first_name            middle_name              last_name          date_of_birth                sex         event_type             event_date              record_id
npartitions=1
               large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  category[unknown]  category[unknown]  large_string[pyarrow]  large_string[pyarrow]
                                 ...                    ...                    ...                    ...                    ...                ...                ...                    ...                    ...
Dask Name: drop_by_shallow_copy, 1 graph layer

### 1040 tax filings

We assume that the last 5 years of taxes would be available and used in the construction of the reference files -- see section about reference files below.

Note that these are retrieved by *tax* year, so the 2029 taxes would be available in early 2030
(around when our hypothetical case study is taking place).

In [15]:
tax_years = list(range(2025, 2030))
tax_years

[2025, 2026, 2027, 2028, 2029]

In [16]:
%%time

# Combine 1040 for all years.
simulated_taxes_1040 = concat_avoid_fragmentation([
    pd.read_parquet(
        f'{output_dir}/{data_to_use}/pseudopeople_simulated_datasets/simulated_taxes_1040_{year}.parquet',
        columns=[
            'simulant_id',
            'ssn',
            'first_name',
            'middle_initial',
            'last_name',
            'mailing_address_street_number',
            'mailing_address_street_name',
            'mailing_address_unit_number',
            'mailing_address_po_box',
            'mailing_address_city',
            'mailing_address_state',
            'mailing_address_zipcode',
        ],
    )
    for year in tax_years
], ignore_index=True)
simulated_taxes_1040 = add_unique_record_id(simulated_taxes_1040, 'simulated_1040')
simulated_taxes_1040 = increase_string_capacity(simulated_taxes_1040)
simulated_taxes_1040 = persist(simulated_taxes_1040)
simulated_taxes_1040_source_record_pairs = persist(record_id_to_single_source_record_pairs(simulated_taxes_1040))

CPU times: user 157 ms, sys: 10.8 ms, total: 168 ms
Wall time: 157 ms

In [17]:
simulated_taxes_1040_ground_truth = simulated_taxes_1040[['record_id', 'simulant_id']]
simulated_taxes_1040 = simulated_taxes_1040.drop(columns=['simulant_id'])
simulated_taxes_1040, simulated_taxes_1040_ground_truth = persist(simulated_taxes_1040, simulated_taxes_1040_ground_truth)
simulated_taxes_1040

Dask DataFrame Structure:
                                 ssn             first_name         middle_initial              last_name mailing_address_street_number mailing_address_street_name mailing_address_unit_number mailing_address_po_box   mailing_address_city mailing_address_state mailing_address_zipcode              record_id
npartitions=5
               large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]         large_string[pyarrow]       large_string[pyarrow]       large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]     category[unknown]   large_string[pyarrow]  large_string[pyarrow]
                                 ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                   ...                     ...                    ...
...                              ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                   ...                     ...                    ...
                                 ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                   ...                     ...                    ...
                                 ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                   ...                     ...                    ...
Dask Name: drop_by_shallow_copy, 1 graph layer

### W2/1099 tax filings

We assume that the last 5 years of taxes would be available and used in the construction of the reference files --
see section about reference files below.

Note that these are retrieved by *tax* year, so the 2029 taxes would be available in early 2030
(around when our hypothetical case study is taking place).

In [18]:
%%time

# Combine W2/1099 for all years.
simulated_w2_1099 = concat_avoid_fragmentation([
    pd.read_parquet(
        f'{output_dir}/{data_to_use}/pseudopeople_simulated_datasets/simulated_taxes_w2_and_1099_{year}.parquet',
        columns=[
            'simulant_id',
            'ssn',
            'first_name',
            'middle_initial',
            'last_name',
            'mailing_address_street_number',
            'mailing_address_street_name',
            'mailing_address_unit_number',
            'mailing_address_po_box',
            'mailing_address_city',
            'mailing_address_state',
            'mailing_address_zipcode',
        ],
    )
    for year in tax_years
], ignore_index=True)
simulated_w2_1099 = add_unique_record_id(simulated_w2_1099, 'simulated_w2_1099')
simulated_w2_1099 = persist(increase_string_capacity(simulated_w2_1099))
simulated_w2_1099_source_record_pairs = persist(record_id_to_single_source_record_pairs(simulated_w2_1099))

CPU times: user 163 ms, sys: 5.42 ms, total: 169 ms
Wall time: 161 ms

In [19]:
simulated_w2_1099_ground_truth = simulated_w2_1099[['record_id', 'simulant_id']]
simulated_w2_1099 = simulated_w2_1099.drop(columns=['simulant_id'])
simulated_w2_1099, simulated_w2_1099_ground_truth = persist(simulated_w2_1099, simulated_w2_1099_ground_truth)
simulated_w2_1099

Dask DataFrame Structure:
                                 ssn             first_name         middle_initial              last_name mailing_address_street_number mailing_address_street_name mailing_address_unit_number mailing_address_po_box   mailing_address_city mailing_address_state mailing_address_zipcode              record_id
npartitions=5
               large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]         large_string[pyarrow]       large_string[pyarrow]       large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]     category[unknown]   large_string[pyarrow]  large_string[pyarrow]
                                 ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                   ...                     ...                    ...
...                              ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                   ...                     ...                    ...
                                 ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                   ...                     ...                    ...
                                 ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                   ...                     ...                    ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [20]:
simulated_taxes, simulated_taxes_source_record_pairs = concat_preserving_source_records(
    [simulated_taxes_1040, simulated_w2_1099],
    [simulated_taxes_1040_source_record_pairs, simulated_w2_1099_source_record_pairs],
    new_record_id_prefix='simulated_taxes',
)

In [21]:
simulated_taxes_1040_with_itins = simulated_taxes_1040[simulated_taxes_1040.ssn.notnull() & simulated_taxes_1040.ssn.str.startswith('9')]
simulated_taxes_1040_with_itins_source_record_pairs = simulated_taxes_1040_source_record_pairs.merge(simulated_taxes_1040_with_itins[['record_id']], on='record_id', how='inner')
simulated_taxes_1040_with_itins, simulated_taxes_1040_with_itins_source_record_pairs = persist(simulated_taxes_1040_with_itins, simulated_taxes_1040_with_itins_source_record_pairs)

%xdel simulated_taxes_1040
%xdel simulated_taxes_1040_source_record_pairs

In [22]:
%xdel simulated_w2_1099
%xdel simulated_w2_1099_source_record_pairs

In [23]:
# "... many of the [IRS] records contain only the first four letters of the last name."
# (Brown et al. 2023, p.30, footnote 19)
# This should be updated in pseudopeople but for now we do it here.
# Note that this truncation only matters for ITIN PIKing since for SSNs that are present in SSA we use name from SSA.
PROPORTION_OF_IRS_RECORDS_WITH_TRUNCATION = 0.4 # is this a good guess at "many" in the quote above?
if compute_engine == 'dask':
    # import dask.array as np
    # rng = np.random.default_rng(seed=1234)
    # random_df = pd.from_dask_array(rng.random(len(simulated_taxes), chunks=int(np.ceil(len(simulated_taxes) / simulated_taxes.npartitions))), columns=['random'])
    # random_df.index = simulated_taxes.index
    # to_truncate = simulated_taxes.assign(random=random_df.random).random < PROPORTION_OF_IRS_RECORDS_WITH_TRUNCATION
    to_truncate, not_to_truncate = simulated_taxes.random_split([PROPORTION_OF_IRS_RECORDS_WITH_TRUNCATION, 1 - PROPORTION_OF_IRS_RECORDS_WITH_TRUNCATION], random_state=1234)
    to_truncate = to_truncate.assign(last_name=to_truncate.last_name.str[:4])
    simulated_taxes = concat_avoid_fragmentation([to_truncate, not_to_truncate], ignore_index=True)
else:
    import numpy as np
    to_truncate = simulated_taxes.sample(frac=PROPORTION_OF_IRS_RECORDS_WITH_TRUNCATION, random_state=1234).index

    simulated_taxes.loc[to_truncate, 'last_name'] = simulated_taxes.loc[to_truncate, 'last_name'].str[:4]

In [24]:
simulated_taxes, simulated_taxes_source_record_pairs = persist(simulated_taxes, simulated_taxes_source_record_pairs)

In [25]:
source_record_ground_truth = persist(concat_avoid_fragmentation([
    simulated_ssa_numident_ground_truth,
    simulated_taxes_1040_ground_truth,
    simulated_w2_1099_ground_truth,
]).rename(columns={'record_id': 'source_record_id'}))
source_record_ground_truth

Dask DataFrame Structure:
                     source_record_id            simulant_id
npartitions=11
                large_string[pyarrow]  large_string[pyarrow]
                                  ...                    ...
...                               ...                    ...
                                  ...                    ...
                                  ...                    ...
Dask Name: rename, 1 graph layer

In [26]:
%xdel simulated_taxes_1040_ground_truth
%xdel simulated_w2_1099_ground_truth

### 2030 Census Unedited File (CUF)

For now, we gloss over the data schema for addresses.
We don't know how addresses would be formatted in the CUF (and it's hard to guess, because
address is not part of the Census form), but it likely would have some of these fields
(street number, street name, etc) combined.

While PVS input files do not in general have names split into first, middle, and last,
I am guessing the CUF **would** have first name, middle initial, last name (which is how pseudopeople
generates it), because that [matches the Census questionnaire](https://www2.census.gov/programs-surveys/decennial/2020/technical-documentation/questionnaires-and-instructions/questionnaires/2020-informational-questionnaire-english_DI-Q1.pdf).

In [27]:
%%time

simulated_census_2030 = pd.read_parquet(f'{output_dir}/{data_to_use}/pseudopeople_simulated_datasets/simulated_census_2030.parquet')
simulated_census_2030 = add_unique_record_id(simulated_census_2030, 'simulated_census_2030')
simulated_census_2030 = increase_string_capacity(simulated_census_2030)
simulated_census_2030 = persist(simulated_census_2030)

CPU times: user 109 ms, sys: 0 ns, total: 109 ms
Wall time: 97.5 ms

In [28]:
simulated_census_2030_ground_truth = simulated_census_2030[['record_id', 'simulant_id']]
simulated_census_2030 = simulated_census_2030.drop(columns=['simulant_id'])
simulated_census_2030, simulated_census_2030_ground_truth = persist(simulated_census_2030, simulated_census_2030_ground_truth)
simulated_census_2030

Dask DataFrame Structure:
                        household_id             first_name         middle_initial              last_name                    age          date_of_birth          street_number            street_name            unit_number                   city              state                zipcode           housing_type relationship_to_reference_person                sex     race_ethnicity   year              record_id
npartitions=1
               large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  category[unknown]  large_string[pyarrow]  large_string[pyarrow]                category[unknown]  category[unknown]  category[unknown]  int64  large_string[pyarrow]
                                 ...                    ...                    ...                    ...                    ...                    ...                    ...                    ...                    ...                    ...                ...                    ...                    ...                              ...                ...                ...    ...                    ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [29]:
save_file_with_ground_truth('simulated_census_2030', simulated_census_2030, simulated_census_2030_ground_truth)

In [30]:
%xdel simulated_census_2030
%xdel simulated_census_2030_ground_truth

## Create reference files

> The Census Numident – all Social Security Administration (SSA) Numident SSN records are
  edited (collapsed) to produce a Census Numident file that contains “one best-data record” for
  each SSN. All variants of name information for each SSN are retained in the Alternate Name
  Numident file, while all variants of date of birth data are retained in the Alternate DOB
  Numident. The SSN-PIK crosswalk file is used to attach a corresponding unique PIK value for
  each SSN value in the Census Numident file.

### Census Numident

Luque and Wagner, p. 4:
  
> The SSA Numident file contains all transactions ever recorded against any single SSN - with each entry
representing an addition or change (such as name changes) to the SSN record. This file is edited to
create the **Census Numident**, which contains one record for each SSN. Each SSN record in the Census
Numident contains name, DOB, sex, race, place of birth, parents’ name, citizenship status and date of death information.

and in footnote 5:

> Name edits, DOB reconciliation, and race identifiers are some of the edits conducted to produce this Numident
file. **The resulting Numident file contains the most recent name and DOB data.**

We are missing quite a few columns, since they are missing in pseudopeople's SSA Numident: race, place of birth, parents' name,
citizenship status.
However, I'm pretty sure none of these are used in linking.

In [31]:
def fill_dates(df, fill_with):
    return (
        # Replace invalid dates with nans
        pd.to_datetime(df.event_date, format='%Y%m%d', errors='coerce')
            .fillna(pandas.to_datetime('2100-01-01' if fill_with == 'latest' else '1900-01-01'))
    )

def best_data_from_columns(df, columns, best_is_latest=True):
    # We don't want to throw out events with a missing/invalid date, so we'll fill them with the value *least* likely to be chosen
    # (earlier than all values if taking the latest, later than all values if taking the earliest).
    fill_with = 'earliest' if best_is_latest else 'latest'

    result = (
        df
            # Without mutating the existing date column, get one that is actually
            # a date type and can be used for sorting.
            # Note: we actually convert this to an integer for sorting purposes, because Modin was having trouble
            # sorting by it as an actual datetime
            .assign(event_date_for_sort=lambda df: fill_dates(df, fill_with=fill_with).astype(numpy.int64) // 10 ** 9)
            .dropna(subset=columns, how='all')
            .pipe(lambda df: drop_duplicates(df, subset='ssn', sort_col='event_date_for_sort', keep=('last' if best_is_latest else 'first')))
            [['record_id', 'ssn'] + columns]
    )

    return result, record_id_to_single_source_record_pairs(result)

best_name, best_name_source_record_pairs = best_data_from_columns(
    simulated_ssa_numident,
    columns=['first_name', 'middle_name', 'last_name'],
)

best_date_of_birth, best_date_of_birth_source_record_pairs = best_data_from_columns(
    simulated_ssa_numident,
    columns=['date_of_birth'],
)

best_date_of_death, best_date_of_death_source_record_pairs = best_data_from_columns(
    simulated_ssa_numident[simulated_ssa_numident.event_type == 'death'],
    columns=['event_date'],
)
best_date_of_death = best_date_of_death.rename(columns={'event_date': 'date_of_death'})

simulated_census_numident, simulated_census_numident_source_record_pairs = persist(merge_preserving_source_records(
    [best_name, best_date_of_birth, best_date_of_death],
    [best_name_source_record_pairs, best_date_of_birth_source_record_pairs, best_date_of_death_source_record_pairs],
    new_record_id_prefix='simulated_census_numident',
    on=['ssn'],
    how='left',
))
simulated_census_numident

Dask DataFrame Structure:
                                 ssn             first_name            middle_name              last_name          date_of_birth          date_of_death              record_id
npartitions=2
               large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]
                                 ...                    ...                    ...                    ...                    ...                    ...                    ...
                                 ...                    ...                    ...                    ...                    ...                    ...                    ...
Dask Name: drop_by_shallow_copy, 1 graph layer

### Alternate Name Numident

Wagner and Layne, p. 9:

>  All variants of name information for each SSN are retained in the Alternate Name
Numident file...

In [32]:
simulated_alternate_name_numident, simulated_alternate_name_numident_source_record_pairs = persist(dedupe_preserving_source_records(
    simulated_ssa_numident,
    simulated_ssa_numident_source_record_pairs,
    columns_to_dedupe=['ssn', 'first_name', 'middle_name', 'last_name'],
    new_record_id_prefix='simulated_alternate_name_numident',
))
simulated_alternate_name_numident

Dask DataFrame Structure:
                                 ssn             first_name            middle_name              last_name              record_id
npartitions=2
               large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]
                                 ...                    ...                    ...                    ...                    ...
                                 ...                    ...                    ...                    ...                    ...
Dask Name: add_id_to_partition, 1 graph layer

In [33]:
compute(groupby_agg_small_groups(simulated_alternate_name_numident, by='ssn', agg_func=lambda x: x.size()).describe())

count    18469.000000
mean         1.024582
std          0.154851
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
dtype: float64

In [34]:
# Show alternate names for the same simulated SSN
simulated_alternate_name_numident.merge(
    groupby_agg_small_groups(simulated_alternate_name_numident[["ssn"]], by="ssn", agg_func=lambda x: x.size()).pipe(lambda x: x[x > 1]).reset_index()[['ssn']],
    on='ssn',
    how='inner'
).sort_values('ssn').tail(100)

,ssn,first_name,middle_name,last_name,record_id
426,796-24-3260,Donna,<NA>,Altschuler,simulated_alternate_name_numident_1_16743
427,796-24-3260,Donna,Renee,Altschuler,simulated_alternate_name_numident_1_16744
382,796-63-9594,Steven,Michael,Ridleh,simulated_alternate_name_numident_1_16752
383,796-63-9594,Steven,Michael,Ridley,simulated_alternate_name_numident_1_16753
428,798-12-1969,Sandra,Linda,Turner,simulated_alternate_name_numident_1_16789
...,...,...,...,...,...
471,898-71-7849,Fay,Jean,Woldridge,simulated_alternate_name_numident_1_18890
432,899-07-0109,Jeffrey,Glenn,Haqkins,simulated_alternate_name_numident_1_18899
433,899-07-0109,Jeffrey,Glenn,Hawkins,simulated_alternate_name_numident_1_18900
472,899-24-9400,Willie,David,<NA>,simulated_alternate_name_numident_1_18904
473,899-24-9400,Willie,David,Laduke,simulated_alternate_name_numident_1_18905

### Alternate DOB Numident

Wagner and Layne, p. 9:

> ... while all variants of date of birth data are retained in the Alternate DOB
Numident.

In [35]:
simulated_alternate_dob_numident, simulated_alternate_dob_numident_source_record_pairs = persist(dedupe_preserving_source_records(
    simulated_ssa_numident,
    simulated_ssa_numident_source_record_pairs,
    columns_to_dedupe=['ssn', 'date_of_birth'],
    new_record_id_prefix='simulated_alternate_dob_numident',
))
simulated_alternate_dob_numident

Dask DataFrame Structure:
                                 ssn          date_of_birth              record_id
npartitions=2
               large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]
                                 ...                    ...                    ...
                                 ...                    ...                    ...
Dask Name: add_id_to_partition, 1 graph layer

In [36]:
compute(groupby_agg_small_groups(simulated_alternate_dob_numident, by='ssn', agg_func=lambda x: x.size()).describe())

count    18469.000000
mean         1.014078
std          0.117814
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          2.000000
dtype: float64

In [37]:
simulated_alternate_dob_numident.merge(
    groupby_agg_small_groups(simulated_alternate_dob_numident[["ssn"]], by="ssn", agg_func=lambda x: x.size()).pipe(lambda x: x[x > 1]).reset_index()[['ssn']],
    on='ssn',
    how='inner'
).sort_values('ssn').tail(100)

             ssn date_of_birth                                 record_id
198  751-96-8435      19320509  simulated_alternate_dob_numident_1_15620
199  751-96-8435      19320905  simulated_alternate_dob_numident_1_15621
200  752-86-2170      20013511  simulated_alternate_dob_numident_1_15641
201  752-86-2170      20010511  simulated_alternate_dob_numident_1_15642
202  757-47-3233      19440209  simulated_alternate_dob_numident_1_15730
..           ...           ...                                       ...
279  898-71-7849      19320809  simulated_alternate_dob_numident_1_18696
280  898-96-4862      19240302  simulated_alternate_dob_numident_1_18702
281  898-96-4862      19240002  simulated_alternate_dob_numident_1_18703
236  899-07-0109      19650509  simulated_alternate_dob_numident_1_18706
237  899-07-0109      19580911  simulated_alternate_dob_numident_1_18707

[100 rows x 3 columns]

### Name/DOB Reference File

Wagner and Layne, p. 9:

> The Name and DOB Reference files are reformatted versions of the Census Numident
and includes **all possible combinations of alternate names and dates of birth, as well as
ITIN data**. All of the reference files contain SSN/ITIN and the corresponding PIK. When
an input record is linked to a reference file, the corresponding PIK is assigned. Table 1
presents the number of observations in each of the reference files.

A slightly confusing point: sometimes the Name and DOB reference files are described
as one and the same thing, and sometimes as separate.
I believe this is because **they differ only in how they are "cut" for the PVS process:**
the name reference file is cut by first and last initial,
while the DOB reference file is cut by month and day of birth.

This is described in Wagner and Layne, p.15:

> The [DOBSearch] module matches against a re-split
version of the Numident Name Reference file, splitting the data based on month and day
of birth.

Since we handle the logic of "cutting" in the linkage process itself, we generate
a single reference file here.

Note that unlike for addresses, and unlike for the pre-processing of *input* files
(as opposed to reference files), there is no explicit nickname processing/correction here.
I am fairly sure that is accurate to the PVS, which I believe assumes that nicknames
would not be present in SSA/tax records (or at least, that the real name would appear
at least once in these records).

In [38]:
simulated_name_dob_numident_records, simulated_name_dob_numident_records_source_record_pairs = persist(merge_preserving_source_records(
    [simulated_alternate_name_numident, simulated_alternate_dob_numident],
    [simulated_alternate_name_numident_source_record_pairs, simulated_alternate_dob_numident_source_record_pairs],
    on=['ssn'],
    how='left',
    new_record_id_prefix='name_dob_numident_records',
))
simulated_name_dob_numident_records

Dask DataFrame Structure:
                                 ssn             first_name            middle_name              last_name          date_of_birth              record_id
npartitions=2
               large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]
                                 ...                    ...                    ...                    ...                    ...                    ...
                                 ...                    ...                    ...                    ...                    ...                    ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [39]:
# Show alternate name/DOB for the same simulated SSN
simulated_name_dob_numident_records.merge(
    groupby_agg_small_groups(simulated_name_dob_numident_records[["ssn"]], by="ssn", agg_func=lambda x: x.size()).pipe(lambda x: x[x > 1]).reset_index()[['ssn']],
    on='ssn',
    how='inner',
).sort_values('ssn').tail(100)

,ssn,first_name,middle_name,last_name,date_of_birth,record_id
702,838-68-3979,Linda,Maxine,Whitehead,<NA>,name_dob_numident_records_0_8890
703,838-68-3979,Linda,Maxine,Whitehead,19401105,name_dob_numident_records_0_8891
626,838-91-4443,Bruce,Leroy,Vossen,19425114,name_dob_numident_records_1_9060
627,838-91-4443,Bruce,Leroy,Vossen,19420114,name_dob_numident_records_1_9061
628,839-37-3165,Linda,Caryn,<NA>,<NA>,name_dob_numident_records_1_9070
...,...,...,...,...,...,...
669,899-07-0109,Jeffrey,Glenn,Haqkins,19580911,name_dob_numident_records_1_9701
670,899-07-0109,Jeffrey,Glenn,Hawkins,19650509,name_dob_numident_records_1_9702
671,899-07-0109,Jeffrey,Glenn,Hawkins,19580911,name_dob_numident_records_1_9703
754,899-24-9400,Willie,David,<NA>,19530914,name_dob_numident_records_0_9541
755,899-24-9400,Willie,David,Laduke,19530914,name_dob_numident_records_0_9542

#### Incorporating people with ITINs

Individual Taxpayer Identification Numbers (ITINs) can be issued to people who are required to file
federal taxes but are not eligible for a Social Security Number.
The most common reason for this is being an undocumented immigrant and therefore not being authorized
to work in the United States.

People without SSNs used to be impossible to assign PIKs to.
In 2011 the NORC report stated (p. 38, footnote 19):

> NORC understands that the Census Bureau has undertaken an effort to enhance the PVS reference files with IRS
files that include Individual Taxpayer Identification Numbers (ITIN). For those people who are required to file a tax
return but do not have, and may not want an SSN—such as a non-U.S. citizen—the IRS issues the taxpayer an ITIN.
This enhancement to the PVS reference file may help to match more non-U.S citizens.

By 2014 (Wagner and Layne, p. 5):

> One of the key enhancements [made in recent years] increased the coverage of the reference files by
including records for persons with Individual Taxpayer Identification Numbers assigned
by the Internal Revenue Service (ITINs) to [along with?] the SSN-based Numident data. 

I have not found a specific description of how ITIN records are constructed in any of the
publicly-available sources.
This may be because it is straightforward, or because the tax data schema is confidential.
I assume that only IRS data is used, since no other data source that I am aware of would
report ITIN.

It is stated that the ITIN records are created directly from tax filings and not
from ITIN applications (Brown et al. p. 29, footnote 16), which is convenient
because the tax filing data is what we can simulate with
pseudopeople:

> The NUMIDENT provides the PII on the SSN-holder from the issuing agency (SSA), and that PII is used in SSN
verification. **For ITINs, the Census Bureau does not have access to the ITIN applications** to the issuing agency (IRS),
so name and DOB verification of ITINs is less reliable.

"Less reliable" is a bit confusing here, because as stated above when generating
the simulated tax data, IRS data should not contain date of birth at all.
Here, we have stayed true to this by omitting it entirely.

We assume that only 1040 filings would be used for this purpose; we wouldn't expect ITINs to
show up on employer-filed W-2/1099 forms.

In [40]:
# Analogous to the process of getting alternate names and dates of birth
# from SSA, we retain all versions of the name from taxes.
simulated_name_for_itins, simulated_name_for_itins_source_record_pairs = persist(dedupe_preserving_source_records(
    simulated_taxes_1040_with_itins.rename(columns={'middle_initial': 'middle_name'}),
    simulated_taxes_1040_with_itins_source_record_pairs,
    columns_to_dedupe=['ssn', 'first_name', 'middle_name', 'last_name'],
    new_record_id_prefix='simulated_name_for_itins',
))
simulated_name_for_itins

Dask DataFrame Structure:
                                  ssn             first_name            middle_name              last_name              record_id
npartitions=10
                large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]
                                  ...                    ...                    ...                    ...                    ...
...                               ...                    ...                    ...                    ...                    ...
                                  ...                    ...                    ...                    ...                    ...
                                  ...                    ...                    ...                    ...                    ...
Dask Name: add_id_to_partition, 1 graph layer

In [41]:
compute(groupby_agg_small_groups(simulated_name_for_itins, by='ssn', agg_func=lambda x: x.size()).describe())

count    510.000000
mean       1.192157
std        0.432402
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        4.000000
dtype: float64

In [42]:
# How many records in the simulated name/DOB numident are in the ITIN range?
# With normal pseudopeople settings, this shouldn't happen, because SSN in SSA is noiseless.
# If this number is >0, we may be adding ITIN records as more alternates to existing records.
compute(simulated_name_dob_numident_records.ssn.str.startswith('9').sum())

0

In [43]:
simulated_name_dob_reference_file, simulated_name_dob_reference_file_source_record_pairs = persist(concat_preserving_source_records(
    [simulated_name_dob_numident_records, simulated_name_for_itins],
    [simulated_name_dob_numident_records_source_record_pairs, simulated_name_for_itins_source_record_pairs],
    new_record_id_prefix='simulated_name_dob_reference_file',
))
simulated_name_dob_reference_file

Dask DataFrame Structure:
                                  ssn             first_name            middle_name              last_name          date_of_birth              record_id
npartitions=12
                large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]
                                  ...                    ...                    ...                    ...                    ...                    ...
...                               ...                    ...                    ...                    ...                    ...                    ...
                                  ...                    ...                    ...                    ...                    ...                    ...
                                  ...                    ...                    ...                    ...                    ...                    ...
Dask Name: drop_by_shallow_copy, 1 graph layer

### GeoBase Reference File

Wagner and Layne, p. 9:

> PVS creates three other sets of reference
files containing Numident data: the **GeoBase Reference File**, the Name Reference File,
and the DOB Reference file.
The GeoBase Reference File appends addresses from administrative records attached
to Numident data, including all possible combinations of alternate names and dates of
birth for SSN. Addresses from administrative records are edited and processed through
commercial software product to clean and standardize address data. ITIN data is also
incorporated into the Geobase.

Luque and Wagner, p. 5:

> Reference files contain data from the Numident file enhanced with address
data obtained from federal AR [administrative records] files.<sup>8</sup>
The reference files, thus, contain all variants of a person’s name, DOB,
and sex, as well as current and recent addresses. These reference files are
referred to as the (PVS) Geobase reference file since addresses (a geographic component)
are appended to each person record.<sup>9</sup> It is important to note that there are
multiple Geobase reference files that are created depending on the vintage of the
incoming file to be processed through PVS.

> <sup>8</sup> Namely, data from the IRS, Department of Housing and Urban Development,
several files from the Department of Health and Human Services, and Selective Service.

> <sup>9</sup> In particular, the address data is cleaned and standardized and used
to construct a variable called GEOKEY. The GEOKEY variable is constructed as a subset
of the full address, and then is appended to the Numident data to create the
PVS Geobase Reference file.

We only have IRS data to use for addresses, and specifically only W-2/1099 data,
which is a limitation of this case study.
I can't find a concrete definition of "recent" -- as noted above, we use 5 years
of IRS data.
This may be longer than the true window, but this may end up making up for
the lack of non-IRS data sources, and get us closer to a realistic number of
alternate addresses.

Also, our address data comes out of pseudopeople already parsed into address parts
like street name, etc.
For more realism, pseudopeople should output a single string that we have to (imperfectly) parse apart.

I haven't been able to find out more about what kind of "subset" the geokey is.
It is unclear to me why geokey is "interesting" since it is just derived from the
address parts.

In [44]:
address_cols = [c for c in simulated_taxes.columns if 'mailing_address' in c]

def standardize_address_part(column):
    return (
        column
            # Remove leading or trailing whitespace
            .str.strip()
            # Turn any strings of consecutive whitespace into a single space
            .str.replace('\s+', ' ', regex=True)
            # Normalize case
            .str.upper()
            # Normalize the word street as described in the example quoted above
            # In reality, there would be many rules like this
            .str.replace('\b(STREET|STR)\b', 'ST', regex=True)
            # Make sure missingness is represented consistently
            .replace('', numpy.nan)
    )

simulated_tax_addresses = (
    simulated_taxes
        # Can only link these to the other files if they have an SSN
        .dropna(subset=['ssn'])
        [['record_id', 'ssn'] + address_cols]
        .assign(**{c: lambda df, c=c: standardize_address_part(df[c]) for c in address_cols})
        .pipe(increase_string_capacity)
)

simulated_addresses_by_ssn, simulated_addresses_by_ssn_source_record_pairs = persist(dedupe_preserving_source_records(
    simulated_tax_addresses,
    simulated_taxes_source_record_pairs,
    columns_to_dedupe=['ssn'] + address_cols,
    new_record_id_prefix='addresses_by_ssn',
))
simulated_addresses_by_ssn

Dask DataFrame Structure:
                                  ssn mailing_address_street_number mailing_address_street_name mailing_address_unit_number mailing_address_po_box   mailing_address_city  mailing_address_state mailing_address_zipcode              record_id
npartitions=40
                large_string[pyarrow]         large_string[pyarrow]       large_string[pyarrow]       large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]   large_string[pyarrow]  large_string[pyarrow]
                                  ...                           ...                         ...                         ...                    ...                    ...                    ...                     ...                    ...
...                               ...                           ...                         ...                         ...                    ...                    ...                    ...                     ...                    ...
                                  ...                           ...                         ...                         ...                    ...                    ...                    ...                     ...                    ...
                                  ...                           ...                         ...                         ...                    ...                    ...                    ...                     ...                    ...
Dask Name: add_id_to_partition, 1 graph layer

In [45]:
num_addresses = groupby_agg_small_groups(simulated_addresses_by_ssn, by='ssn', agg_func=lambda x: x.size()).rename('size').reset_index().sort_values('size')
num_addresses

Dask DataFrame Structure:
                                 ssn   size
npartitions=4
               large_string[pyarrow]  int64
                                 ...    ...
                                 ...    ...
                                 ...    ...
                                 ...    ...
Dask Name: sort_values, 19 graph layers

In [46]:
# Show some SSNs with a lot of address variation
compute(pd.merge(num_addresses.tail(10), simulated_addresses_by_ssn, on='ssn', how='inner').sort_values('ssn'))

,ssn,size,mailing_address_street_number,mailing_address_street_name,mailing_address_unit_number,mailing_address_po_box,mailing_address_city,mailing_address_state,mailing_address_zipcode,record_id
0,034-83-5590,7,11818,ARBOR MEADOW DRIVE,<NA>,<NA>,ANYTOWN,CO,00000,addresses_by_ssn_20_1174
1,034-83-5590,7,11818,ARBOR MEADOW DRIVE,<NA>,<NA>,<NA>,WA,00000,addresses_by_ssn_20_1175
2,034-83-5590,7,11818,ARBOR MEADOW DRIVE,<NA>,<NA>,ANYTOWN,IN,00000,addresses_by_ssn_20_1176
3,034-83-5590,7,13322,NW 56 AVE,<NA>,<NA>,ANYTOWN,WA,00000,addresses_by_ssn_20_1177
4,034-83-5590,7,<NA>,S GRAMERCY PL,<NA>,<NA>,ANYTOWN,WA,00000,addresses_by_ssn_20_1178
...,...,...,...,...,...,...,...,...,...,...
2,734-84-5703,7,18,FRUIDRIDGE RD,<NA>,<NA>,ANYTOWN,WA,00000,addresses_by_ssn_36_55
3,734-84-5703,7,18,FRUOTR'LDGE RD,<NA>,<NA>,ANYTOWN,WA,00000,addresses_by_ssn_36_56
4,734-84-5703,7,18,FRU'LTRIDGE RD,<NA>,<NA>,ANYTOWN,WA,00000,addresses_by_ssn_36_57
5,734-84-5703,7,18,FRUITRIDGE RD,<NA>,<NA>,ANYTOWN,WA,00000,addresses_by_ssn_36_58
6,734-84-5703,7,<NA>,<NA>,<NA>,<NA>,ANYTOWN,WA,00000,addresses_by_ssn_36_59

In [47]:
# Rough estimate of how many rows we should have in our reference file, once we do this Cartesian product
compute(
    len(simulated_name_dob_reference_file) *
    groupby_agg_small_groups(simulated_addresses_by_ssn, by='ssn', agg_func=lambda x: x.size()).mean()
)

32756.849137707803

In [48]:
simulated_geobase_reference_file, simulated_geobase_reference_file_source_record_pairs = persist(merge_preserving_source_records(
    [simulated_name_dob_reference_file, simulated_addresses_by_ssn],
    [simulated_name_dob_reference_file_source_record_pairs, simulated_addresses_by_ssn_source_record_pairs],
    on=['ssn'],
    how='left',
    new_record_id_prefix='simulated_geobase_reference_file',
))
simulated_geobase_reference_file

Dask DataFrame Structure:
                                  ssn             first_name            middle_name              last_name          date_of_birth mailing_address_street_number mailing_address_street_name mailing_address_unit_number mailing_address_po_box   mailing_address_city  mailing_address_state mailing_address_zipcode              record_id
npartitions=40
                large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]         large_string[pyarrow]       large_string[pyarrow]       large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]  large_string[pyarrow]   large_string[pyarrow]  large_string[pyarrow]
                                  ...                    ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                    ...                     ...                    ...
...                               ...                    ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                    ...                     ...                    ...
                                  ...                    ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                    ...                     ...                    ...
                                  ...                    ...                    ...                    ...                    ...                           ...                         ...                         ...                    ...                    ...                    ...                     ...                    ...
Dask Name: drop_by_shallow_copy, 1 graph layer

In [49]:
# Actual number of rows
len(simulated_geobase_reference_file)

32825

## Track ground truth for reference files

In [50]:
def get_simulants_of_source_records(source_record_pairs, filter_record_ids=None):
    if filter_record_ids is not None:
        source_record_pairs = source_record_pairs.pipe(filter_record_ids)

    result = (
        drop_duplicates(source_record_pairs)
            .merge(source_record_ground_truth, on='source_record_id')
            [['record_id', 'simulant_id']]
            .pipe(drop_duplicates)
    )
    result = result.merge(
        groupby_agg_small_groups(result, by='record_id', agg_func=lambda x: x.simulant_id.nunique().rename('n_unique_simulants')).reset_index(),
        on='record_id',
        how='left',
    )
    return result

def get_ground_truth_for_records(source_record_pairs):
    result = persist(get_simulants_of_source_records(source_record_pairs))

    result_nunique_describe = compute(result['n_unique_simulants'].describe())

    if numpy.isclose(result_nunique_describe.loc['max'], 1):
        print('No collisions')
        return result

    print('Collisions:')
    display(result_nunique_describe)

    print('Simulated tax records with the most collisions:')
    most_collisions_record_id = result.sort_values('n_unique_simulants', ascending=False).head(1).record_id.iloc[0]
    most_collisions_source_record_ids = persist(
        drop_duplicates(source_record_pairs[source_record_pairs.record_id == most_collisions_record_id][['source_record_id']])
    )
    most_collisions_tax_filings = (
        most_collisions_source_record_ids
            .merge(drop_duplicates(simulated_taxes_source_record_pairs[['record_id', 'source_record_id']]), on='source_record_id', how='inner')
            .merge(simulated_taxes, on='record_id', how='left')
            .merge(source_record_ground_truth, on='source_record_id', how='left')
    )
    display(compute(most_collisions_tax_filings))

    print('Simulated SSA records with the most collisions:')
    display(
        compute(
            most_collisions_source_record_ids
                .merge(simulated_ssa_numident.rename(columns={'record_id': 'source_record_id'}), on='source_record_id', how='inner')
                .merge(source_record_ground_truth, on='source_record_id', how='left')
        )
    )

    return result

### Simulated Census Numident

In [51]:
len(simulated_census_numident_source_record_pairs)

38271

In [52]:
simulated_census_numident_ground_truth = get_ground_truth_for_records(simulated_census_numident_source_record_pairs)

No collisions

In [53]:
simulated_census_numident_ground_truth

Dask DataFrame Structure:
                            record_id            simulant_id n_unique_simulants
npartitions=24
                large_string[pyarrow]  large_string[pyarrow]              int64
                                  ...                    ...                ...
...                               ...                    ...                ...
                                  ...                    ...                ...
                                  ...                    ...                ...
Dask Name: hash-join, 1 graph layer

### Simulated Alternate Name Numident

In [54]:
len(simulated_alternate_name_numident_source_record_pairs)

19871

In [55]:
simulated_alternate_name_numident_ground_truth = get_ground_truth_for_records(simulated_alternate_name_numident_source_record_pairs)

No collisions

In [56]:
simulated_alternate_name_numident_ground_truth

Dask DataFrame Structure:
                            record_id            simulant_id n_unique_simulants
npartitions=22
                large_string[pyarrow]  large_string[pyarrow]              int64
                                  ...                    ...                ...
...                               ...                    ...                ...
                                  ...                    ...                ...
                                  ...                    ...                ...
Dask Name: hash-join, 1 graph layer

### Alternate DOB Numident

In [57]:
len(simulated_alternate_dob_numident_source_record_pairs)

19871

In [58]:
simulated_alternate_dob_numident_ground_truth = get_ground_truth_for_records(simulated_alternate_dob_numident_source_record_pairs)

No collisions

In [59]:
simulated_alternate_dob_numident_ground_truth

Dask DataFrame Structure:
                            record_id            simulant_id n_unique_simulants
npartitions=22
                large_string[pyarrow]  large_string[pyarrow]              int64
                                  ...                    ...                ...
...                               ...                    ...                ...
                                  ...                    ...                ...
                                  ...                    ...                ...
Dask Name: hash-join, 1 graph layer

### Simulated Name/DOB Reference File

In [60]:
len(simulated_name_dob_reference_file_source_record_pairs)

42541

In [61]:
simulated_name_dob_reference_file_ground_truth = get_ground_truth_for_records(simulated_name_dob_reference_file_source_record_pairs)

No collisions

In [62]:
simulated_name_dob_reference_file_ground_truth

Dask DataFrame Structure:
                            record_id            simulant_id n_unique_simulants
npartitions=56
                large_string[pyarrow]  large_string[pyarrow]              int64
                                  ...                    ...                ...
...                               ...                    ...                ...
                                  ...                    ...                ...
                                  ...                    ...                ...
Dask Name: hash-join, 1 graph layer

### Simulated GeoBase Reference File

In [63]:
len(simulated_geobase_reference_file_source_record_pairs)

160076

In [64]:
simulated_geobase_reference_file_ground_truth = get_ground_truth_for_records(simulated_geobase_reference_file_source_record_pairs)

Collisions:

count    34175.000000
mean         1.081346
std          0.285926
min          1.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          3.000000
Name: n_unique_simulants, dtype: float64

Simulated tax records with the most collisions:

,source_record_id,record_id,ssn,first_name,middle_initial,last_name,mailing_address_street_number,mailing_address_street_name,mailing_address_unit_number,mailing_address_po_box,mailing_address_city,mailing_address_state,mailing_address_zipcode,simulant_id
0,simulated_w2_1099_1_9864,simulated_taxes_6_9864,423-36-9471,Tony,T,Spit,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8142
0,simulated_w2_1099_1_9863,simulated_taxes_6_9863,423-36-9471,Tony,T,Spit,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8142
0,simulated_w2_1099_0_10062,simulated_taxes_5_10062,423-36-9471,Melissa,A,Spitale,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8143
0,simulated_w2_1099_0_10061,simulated_taxes_5_10061,423-36-9471,Tony,T,Spitwle,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8142
0,simulated_1040_2_7624,simulated_taxes_2_7624,423-36-9471,Luke,A,Spitale,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8145
0,simulated_w2_1099_2_10239,simulated_taxes_7_10239,423-36-9471,Tony,T,Spitale,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8142
0,simulated_1040_0_3060,simulated_taxes_0_3060,423-36-9471,Tony,T,Spitale,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8142
0,simulated_1040_4_3333,simulated_taxes_4_3333,423-36-9471,Tony,T,Spit,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8142
0,simulated_1040_2_3165,simulated_taxes_2_3165,423-36-9471,Tony,T,Spitale,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8142
0,simulated_w2_1099_4_10208,simulated_taxes_9_10208,423-36-9471,Melissa,A,De Casa,692,bristol ct,<NA>,<NA>,Anytown,WA,00000,0_8143

Simulated SSA records with the most collisions:

,source_record_id,ssn,first_name,middle_name,last_name,date_of_birth,sex,event_type,event_date,simulant_id
0,simulated_ssa_numident_0_8545,423-36-9471,Tony,Thomas,Spitale,14817014,Male,creation,19861015,0_8142

In [65]:
simulated_geobase_reference_file_ground_truth

Dask DataFrame Structure:
                            record_id            simulant_id n_unique_simulants
npartitions=50
                large_string[pyarrow]  large_string[pyarrow]              int64
                                  ...                    ...                ...
...                               ...                    ...                ...
                                  ...                    ...                ...
                                  ...                    ...                ...
Dask Name: hash-join, 1 graph layer

In [66]:
%xdel simulated_taxes
%xdel simulated_taxes_source_record_pairs

### Get ground truth by SSN

In [67]:
simulated_ssn_simulant_pairs = persist(
    concat_avoid_fragmentation([
        simulated_census_numident[["record_id", "ssn"]].merge(simulated_census_numident_ground_truth, on="record_id"),
        simulated_alternate_name_numident[["record_id", "ssn"]].merge(simulated_alternate_name_numident_ground_truth, on="record_id"),
        simulated_alternate_dob_numident[["record_id", "ssn"]].merge(simulated_alternate_dob_numident_ground_truth, on="record_id"),
        simulated_name_dob_reference_file[["record_id", "ssn"]].merge(simulated_name_dob_reference_file_ground_truth, on="record_id"),
        simulated_geobase_reference_file[["record_id", "ssn"]].merge(simulated_geobase_reference_file_ground_truth, on="record_id"),
    ])
        [['ssn', 'simulant_id']]
        .pipe(drop_duplicates)
)
simulated_ssn_simulant_pairs

Dask DataFrame Structure:
                                  ssn            simulant_id
npartitions=50
                large_string[pyarrow]  large_string[pyarrow]
                                  ...                    ...
...                               ...                    ...
                                  ...                    ...
                                  ...                    ...
Dask Name: repartition, 1 graph layer

In [68]:
# How many simulated SSNs have different simulant IDs
# contributing to them?
compute((groupby_agg_small_groups(simulated_ssn_simulant_pairs, by='ssn', agg_func=lambda x: x.simulant_id.nunique()) > 1).sum())

1084

## Save results

In [69]:
files = {
    'simulated_census_numident': (simulated_census_numident, simulated_census_numident_ground_truth),
    'simulated_alternate_name_numident': (simulated_alternate_name_numident, simulated_alternate_name_numident_ground_truth),
    'simulated_alternate_dob_numident': (simulated_alternate_dob_numident, simulated_alternate_dob_numident_ground_truth),
    'simulated_geobase_reference_file': (simulated_geobase_reference_file, simulated_geobase_reference_file_ground_truth),
    'simulated_name_dob_reference_file': (simulated_name_dob_reference_file, simulated_name_dob_reference_file_ground_truth),
}

In [70]:
simulated_reference_files = [
    simulated_census_numident,
    simulated_alternate_name_numident,
    simulated_alternate_dob_numident,
    simulated_geobase_reference_file,
    simulated_name_dob_reference_file,
]
# TODO: Rename the ssn column to explicitly include itins, since this is confusing
simulated_all_ssns_itins_in_reference_files = concat_avoid_fragmentation([df[["ssn"]] for df in simulated_reference_files], ignore_index=True)
simulated_ssn_to_pik = (
    simulated_all_ssns_itins_in_reference_files
        .pipe(drop_duplicates)
        .pipe(add_unique_id_col, col_name='pik')
        [['ssn', 'pik']]
)
simulated_ssn_to_pik

Dask DataFrame Structure:
                                   ssn                    pik
npartitions=116
                 large_string[pyarrow]  large_string[pyarrow]
                                   ...                    ...
...                                ...                    ...
                                   ...                    ...
                                   ...                    ...
Dask Name: getitem, 27 graph layers

In [71]:
simulated_pik_simulant_pairs = (
    simulated_ssn_simulant_pairs
        .merge(simulated_ssn_to_pik, on="ssn", how="inner")
        [['pik', 'simulant_id']]
)
simulated_pik_simulant_pairs

Dask DataFrame Structure:
                                   pik            simulant_id
npartitions=116
                 large_string[pyarrow]  large_string[pyarrow]
                                   ...                    ...
...                                ...                    ...
                                   ...                    ...
                                   ...                    ...
Dask Name: getitem, 36 graph layers

In [72]:
%xdel simulated_ssn_simulant_pairs

In [73]:
for file_name, (file, ground_truth) in files.items():
    file = persist(file.merge(simulated_ssn_to_pik, on='ssn', how='left'))
    assert compute(file.pik.notnull().all())

    save_file_with_ground_truth(file_name, file, ground_truth)

In [74]:
simulated_pik_simulant_pairs_path = f'{output_dir}/{data_to_use}/simulated_pik_simulant_pairs.parquet'
remove_path(simulated_pik_simulant_pairs_path)
simulated_pik_simulant_pairs.to_parquet(simulated_pik_simulant_pairs_path)

In [75]:
! date

Tue Nov 21 02:54:54 PM PST 2023